<div class="badge rounded-(--border-radius-3) shadow-(--shadow-1) font-bold text-(length:--font-size-h6)" [class]="{
      'bg-(--color-blue-200)': variant() === 'info',
      'text-(--color-blue-600)': variant() === 'info',
      'bg-(--color-green-200)': variant() === 'success',
      'text-(--color-green-700)': variant() === 'success',
      'bg-(--color-red-500)': variant() === 'danger',
      'text-(--color-neutral-light-background-1)': variant() === 'danger',
      'bg-(--color-red-100)': variant() === 'danger-light',
      'text-(--color-red-500)': variant() === 'danger-light',
      'badge-sm': size() === 'sm',
      'badge-md': size() === 'md',
   }">
   {{ title() }}
</div>
