<div class="rounded-(--border-radius-3) shadow-(--shadow-1) font-bold text-(length:--font-size-h6)" [class]="{
      'bg-(--color-blue-200)': variant() === 'primary',
      'text-(--color-blue-600)': variant() === 'primary',
      'bg-(--color-green-200)': variant() === 'success',
      'text-(--color-green-700)': variant() === 'success',
      'bg-(--color-red-100)': variant() === 'danger',
      'text-(--color-red-500)': variant() === 'danger'
   }" style="border: 3px solid white; padding: 10px 16px;">
   {{ title() }}
</div>
