.page-content-container {
   display: flex;
   flex-direction: column;

   // Styles génériques pour le background header
   .page-header-background {
      display: none;
   }

   // Styles génériques pour les images
   .page-image-header {
      width: 100%;
      object-fit: cover;
      z-index: 101;
      display: none;
   }

   .no-image-block {
      height: 88px;
   }

   .page-image-content {
      width: 100%;
      height: auto;
      display: block;
   }
   
   h1 {
      font-size: var(--font-size-h2);
      line-height: var(--line-height-h2);
      color: var(--color-3);
   }
   .page-description::ng-deep p {
      font-size: var(--font-size-body-md);
      color: var(--color-3);
      line-height: 1.6;
      margin-bottom: var(--spacing-4);
      text-align: left;
   }

   // Variants communs: accessibility et resources (styles identiques)
   background-color: var(--background-6);
   min-height: 100vh;
   padding-bottom: var(--spacing-5);

   .page-header-background {
      display: block;
      position: fixed;
      background: var(--background-31);
      height: 110px;
      width: 100%;
      z-index: 100;
   }

   .page-image-header {
      display: block;
      height: 323px;
   }

   .page-image-content {
      display: none;
   }

   .button-back {
      position: fixed;
      top: var(--spacing-3);
      padding-left: var(--spacing-5);
      z-index: 102;
   }

   .page-title,
   .page-description {
      padding: 0 var(--spacing-5) var(--spacing-5) var(--spacing-5);
   }

   .page-items-container {
      gap: var(--spacing-5);
      padding: 0 var(--spacing-3);
   }
}