<div [@slideUpDown]="animationState"
     (@slideUpDown.done)="onAnimationDone($event)"
     class="facebook-container">
   <div class="header relative flex justify-center items-center h-16">
      <div class="z-10">
         <img src="assets/images/form-picto.png" alt="picto-formulaire" class="!w-[77.5px] !h-[96px] object-contain picto" />
      </div>
      <app-button-close class="absolute right-4" (click)="closeDialog()"></app-button-close>
   </div>
   <div class="content flex flex-col">
      <div class="details flex flex-col gap(--spacing-3)">
         <h3>{{ "PROBLEMS.DELETE_CONTENT.RESULTS.UNREPORTED_CONTENT.FACEBOOK.TITLE" | translate }}</h3>
         <span>{{ "PROBLEMS.DELETE_CONTENT.RESULTS.UNREPORTED_CONTENT.FACEBOOK.DESCRIPTION" | translate }}</span>
         <app-enriched-link [data]="enriched_link"></app-enriched-link>
      </div>
      <app-divider class="divider"></app-divider>
      <div class="flex flex-col gap-(--spacing-4)">
         <div class="flex flex-col">
            <h6 class="title-form">{{ "PROBLEMS.DELETE_CONTENT.RESULTS.UNREPORTED_CONTENT.FACEBOOK.P1.TITLE" | translate }}</h6>
            <img class="image" alt="facebook-form-screen1" src="assets/images/facebook-form-screen1.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">{{ "PROBLEMS.DELETE_CONTENT.RESULTS.UNREPORTED_CONTENT.FACEBOOK.P2.TITLE" | translate }}</h6>
            <img class="image" alt="facebook-form-screen2" src="assets/images/facebook-form-screen2.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">{{ "PROBLEMS.DELETE_CONTENT.RESULTS.UNREPORTED_CONTENT.FACEBOOK.P3.TITLE" | translate }}</h6>
            <img class="image" alt="facebook-form-screen3" src="assets/images/facebook-form-screen3.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">{{ "PROBLEMS.DELETE_CONTENT.RESULTS.UNREPORTED_CONTENT.FACEBOOK.P4.TITLE" | translate }}</h6>
            <img class="image" alt="facebook-form-screen5" src="assets/images/facebook-form-screen4.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">{{ "PROBLEMS.DELETE_CONTENT.RESULTS.UNREPORTED_CONTENT.FACEBOOK.P5.TITLE" | translate }}</h6>
            <img class="image" alt="facebook-form-screen5" src="assets/images/facebook-form-screen5.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">{{ "PROBLEMS.DELETE_CONTENT.RESULTS.UNREPORTED_CONTENT.FACEBOOK.P6.TITLE" | translate }}</h6>
            <img class="image" alt="facebook-form-screen6" src="assets/images/facebook-form-screen6.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">{{ "PROBLEMS.DELETE_CONTENT.RESULTS.UNREPORTED_CONTENT.FACEBOOK.P7.TITLE" | translate }}</h6>
            <img class="image" alt="facebook-form-screen7" src="assets/images/facebook-form-screen7.png">
         </div>
         <div class="flex flex-col">
         <h6 class="title-form">{{ "PROBLEMS.DELETE_CONTENT.RESULTS.UNREPORTED_CONTENT.FACEBOOK.P8.TITLE" | translate }}</h6>
         <img class="image" alt="facebook-form-screen8" src="assets/images/facebook-form-screen8.png">
      </div>
      </div>
   </div>
</div>
