<div [@slideUpDown]="animationState"
     (@slideUpDown.done)="onAnimationDone($event)"
     class="facebook-container">
   <div class="header relative flex justify-center items-center h-16">
      <div class="z-10">
         <img src="assets/images/form-picto.png" alt="picto-formulaire" class="!w-[77.5px] !h-[96px] object-contain picto" />
      </div>
      <app-button-close class="absolute right-4" (click)="closeDialog()"></app-button-close>
   </div>
   <div class="content flex flex-col">
      <div class="details flex flex-col gap(--spacing-3)">
         <h3>Comment remplir le formulaire ? - Facebook</h3>
         <span>Voici ce qu’il faut faire pour remplir le formulaire ci-dessous:</span>
         <app-enriched-link [data]="enriched_link"></app-enriched-link>
      </div>
      <app-divider class="divider"></app-divider>
      <div class="flex flex-col gap-(--spacing-4)">
         <div class="flex flex-col">
            <h6 class="title-form">1. Sélectionner le pays où on habite dans “Veuillez sélectionner un pays”</h6>
            <img class="image" alt="facebook-form-screen1" src="assets/images/facebook-form-screen1.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">2. Écrire son nom et prénom</h6>
            <img class="image" alt="facebook-form-screen2" src="assets/images/facebook-form-screen2.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">3. Écrire son adresse e-mail</h6>
            <img class="image" alt="facebook-form-screen3" src="assets/images/facebook-form-screen3.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">4. Sélectionner “Ma vie privée” dans “Qui est la personne dont la vie privée n’a pas été respectée”</h6>
            <img class="image" alt="facebook-form-screen5" src="assets/images/facebook-form-screen4.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">5. Sélectionner “Oui” pour “Avez-vous moins de 18 ans”</h6>
            <img class="image" alt="facebook-form-screen5" src="assets/images/facebook-form-screen5.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">6. Sélectionner “Oui” si on a l’URL du contenu à signaler</h6>
            <img class="image" alt="facebook-form-screen6" src="assets/images/facebook-form-screen6.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">7. Indiquer le type de contenu dont il s’agit</h6>
            <img class="image" alt="facebook-form-screen7" src="assets/images/facebook-form-screen7.png">
         </div>
         <div class="flex flex-col">
         <h6 class="title-form">8. Coller l’URL du contenu à signaler </h6>
         <img class="image" alt="facebook-form-screen8" src="assets/images/facebook-form-screen8.png">
      </div>
      </div>
   </div>
</div>
