<div [@slideUpDown]="animationState"
     (@slideUpDown.done)="onAnimationDone($event)"
     class="instagram-container">
   <div class="header relative flex justify-center items-center h-16">
      <div class="z-10">
         <img src="assets/images/form-picto.png" alt="picto-formulaire" class="!w-[77.5px] !h-[96px] object-contain picto" />
      </div>
      <app-button-close class="absolute right-4" (click)="closeDialog()"></app-button-close>
   </div>
   <div class="content flex flex-col">
      <div class="details flex flex-col gap(--spacing-3)">
         <h3>{{ "PROBLEMS.DELETE_CONTENT.RESULTS.UNREPORTED_CONTENT.INSTAGRAM.TITLE" | translate }}</h3>
         <span>{{ "PROBLEMS.DELETE_CONTENT.RESULTS.UNREPORTED_CONTENT.INSTAGRAM.DESCRIPTION" | translate }}</span>
         <app-enriched-link [data]="enriched_link"></app-enriched-link>
      </div>
      <app-divider class="divider"></app-divider>
      <div class="flex flex-col gap-(--spacing-4)">
         <div class="flex flex-col">
            <h6 class="title-form">{{ "PROBLEMS.DELETE_CONTENT.RESULTS.UNREPORTED_CONTENT.INSTAGRAM.P1.TITLE" | translate }}</h6>
            <img alt="instagram-form-screen1" class="image" src="assets/images/instagram-form-screen1.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">{{ "PROBLEMS.DELETE_CONTENT.RESULTS.UNREPORTED_CONTENT.INSTAGRAM.P2.TITLE" | translate }}</h6>
            <img alt="instagram-form-screen2" class="image" src="assets/images/instagram-form-screen2.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">{{ "PROBLEMS.DELETE_CONTENT.RESULTS.UNREPORTED_CONTENT.INSTAGRAM.P3.TITLE" | translate }}</h6>
            <img alt="instagram-form-screen3" class="image" src="assets/images/instagram-form-screen3.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">{{ "PROBLEMS.DELETE_CONTENT.RESULTS.UNREPORTED_CONTENT.INSTAGRAM.P4.TITLE" | translate }}</h6>
            <img alt="instagram-form-screen4" class="image" src="assets/images/instagram-form-screen4.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">{{ "PROBLEMS.DELETE_CONTENT.RESULTS.UNREPORTED_CONTENT.INSTAGRAM.P5.TITLE" | translate }}</h6>
            <img alt="instagram-form-screen5" class="image" src="assets/images/instagram-form-screen5.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">{{ "PROBLEMS.DELETE_CONTENT.RESULTS.UNREPORTED_CONTENT.INSTAGRAM.P6.TITLE" | translate }}</h6>
            <img alt="instagram-form-screen6" class="image" src="assets/images/instagram-form-screen6.png">
         </div>
      </div>
   </div>
</div>
