<div [@slideUpDown]="animationState"
     (@slideUpDown.done)="onAnimationDone($event)"
     class="instagram-report-content-container no-default-animation-dialog custom-dialog-backdrop">
   <div class="header relative flex justify-center items-center h-16">
      <div class="z-10">
         <img src="assets/images/form-picto.png" alt="picto-formulaire" class="!w-[77.5px] !h-[96px] object-contain picto" />
      </div>
      <app-button-close class="absolute right-4" (click)="closeDialog()"></app-button-close>
   </div>
   <div class="content flex flex-col">
      <div class="details flex flex-col gap(--spacing-3)">
         <h3>Comment remplir le formulaire ? - X</h3>
         <span>Voici ce qu’il faut faire pour remplir le formulaire ci-dessous:</span>
         <app-enriched-link [data]="enriched_link"></app-enriched-link>
      </div>
      <app-divider class="divider"></app-divider>
      <div class="flex flex-col gap-(--spacing-4)">
         <div class="flex flex-col">
            <h6 class="title-form">1. Sélectionner “Je souhaite poser une question” dans “Comment pouvons-nous vous aider ?”</h6>
            <img class="image" src="assets/images/x-form-screen1.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">2. Sélectionner “De la suppression de données” dans “Veuillez nous en dire plus”</h6>
            <img class="image" src="assets/images/x-form-screen2.png">
         </div>
         <div class="flex flex-col">
            <h6 class="title-form">3. Copier/coller le modèle ci-dessous dans “Veuillez saisir votre question” et le remplacer avec ce qui nous concerne.</h6>
            <img class="image" src="assets/images/x-form-screen3.png">
         </div>
         <app-template-message [data]="template_message"></app-template-message>
      </div>
   </div>
</div>
