.card-container {
   gap: var(--spacing-1);
}

.card-title {
   color: var(--color-1);
   font-weight: var(--font-weight-title);
   font-size: var(--font-size-body-xs);
}

.card-image {
   width: 100%;
   border-radius: var(--border-radius-2);
}

.card-item-container {
   background-color: var(--background-4);
   padding: 6px 6px var(--spacing-2) 6px;
   border-radius: var(--border-radius-2);
   gap: var(--spacing-2);
   box-shadow: var(--shadow-1);
}

.card-item-container:hover,
.card-item-container:focus {
   background-color: var(--background-38);
}

.card-description {
   font-size: var(--font-size-body-sm);
   color: var(--color-9);
}
