<div class="card-container flex flex-col">
   @if ((data() | pageTranslation)?.firstTitle) {
      <span class="card-title" [innerHTML]="(data() | pageTranslation)?.firstTitle! | translate | safeHtml"></span>
   }
   <div class="card-item-container flex flex-col">
      <div>
         <img class="card-image" [src]="(data() | pageTranslation)?.image || (data() | pageTranslation)?.staticImage" alt="image" />
      </div>
      <div class="flex justify-between items-center pl-(--spacing-2)">
         <div class="flex flex-col">
            @if ((data() | pageTranslation)?.secondTitle) {
               <h5 [innerHTML]="(data() | pageTranslation)?.secondTitle! | translate | safeHtml"></h5>
            }
            @if ((data() | pageTranslation)?.description) {
               <span class="card-description" [innerHTML]="(data() | pageTranslation)?.description! | translate | safeHtml"></span>
            }
         </div>
         <div>
            <mat-icon [svgIcon]="isDarkMode() ? 'chevron24x24-icon-dark' : 'chevron24x24-icon-light'"></mat-icon>
         </div>
      </div>
   </div>
</div>
