<div class="card-container flex flex-col">
   <span class="card-title" [innerHTML]="data().translations.at(0)?.firstTitle"></span>
   <div class="card-item-container flex flex-col">
      <div>
         <img class="card-image" [src]="data().translations.at(0)?.image" alt="image" />
      </div>
      <div class="flex justify-between items-center">
         <div>
            <h5 [innerHTML]="data().translations.at(0)?.secondTitle"></h5>
            <span [innerHTML]="data().translations.at(0)?.description"></span>
         </div>
         <div>
            <mat-icon [svgIcon]="isDarkMode() ? 'chevron24x24-icon-dark' : 'chevron24x24-icon-light'"></mat-icon>
         </div>
      </div>
   </div>
</div>
