<div class="card-swiper-container flex flex-col h-full card-container overflow-auto" tabindex="-1">
   <div class="flex items-center justify-center relative">
      @if (index() > 0) {
      <button
         mat-fab
         aria-label="Previous"
         class="nav-btn previous-btn"
         (click)="prev.emit()"
      >
         <mat-icon svgIcon="arrow24x24-icon" class="rotate-180"></mat-icon>
      </button>
      }
      <img
         [src]="
            (data() | pageTranslation)?.image ||
            (data() | pageTranslation)?.staticImage
         "
         alt=""
         style="max-height: 100%; max-width: 100%; object-fit: contain"
      />
      @if (index() < maxIndex()) {
      <button
         mat-fab
         aria-label="Next"
         class="nav-btn next-btn"
         (click)="next.emit()"
      >
         <mat-icon svgIcon="arrow24x24-icon"></mat-icon>
      </button>
      }
   </div>
   <div
      class="flex flex-col gap-(--spacing-4) p-(--spacing-5) pt-0 pb-(--spacing-11)"
   >
      <app-tag-unclickable
         variant="secondary"
         [label]="'DESIGN_SYSTEM.TAG_UNCLICKABLE.SECONDARY' | translate"
      ></app-tag-unclickable>
      <div class="card-19-description flex flex-col">
         @if ((data() | pageTranslation)?.firstTitle) {
         <h6
            class="ckeditor-content"
            [innerHTML]="
               (data() | pageTranslation)?.firstTitle!
                  | translate
                  | replaceStringDark
                     : 'hsl(258, 88%, 40%)'
                     : 'var(--color-primary-400)'
                  | safeHtml
            "
         ></h6>
         } @if ((data() | pageTranslation)?.description) {
         <div
            class="ckeditor-content"
            [innerHTML]="
               (data() | pageTranslation)?.description!
                  | translate
                  | replaceStringDark
                     : 'hsl(258, 88%, 40%)'
                     : 'var(--color-primary-400)'
                  | safeHtml
            "
         ></div>
         }
      </div>
   </div>
</div>
