<div class="flex flex-col">
   <div class="flex justify-between" style="margin: 0 32px;">
      <div class="flex items-center" style="gap: 12px">
         <img src="assets/images/tmp/instagram-logo.svg" alt="instagram-logo" />
         <h5>Instagram</h5>
      </div>
      <div class="flex items-center" style="gap: 8px">
         <span>Tout voir</span>
         <span>></span>
      </div>
   </div>
   <div class="flex" style="margin: 20px 0 20px 32px; gap:24px; overflow-y: scroll; scrollbar-width: none;">
      <app-card-8></app-card-8>
      <app-card-8></app-card-8>
      <app-card-8></app-card-8>
      <app-card-8></app-card-8>
      <app-card-8></app-card-8>
   </div>
</div>
