<div class="flex flex-col card-container">
   <div class="flex justify-between card-header">
      <div class="flex items-center card-header-title">
         <img src="assets/images/tmp/instagram-logo.svg" alt="instagram-logo" />
         <h5>Instagram</h5>
      </div>
      <a class="flex items-center card-header-link" routerLink="/home">
         <span>Tout voir</span>
         <mat-icon svgIcon="chevron16x16-icon"></mat-icon>
      </a>
   </div>
   <div class="flex card-children">
      <app-card-8></app-card-8>
      <app-card-8></app-card-8>
      <app-card-8></app-card-8>
      <app-card-8></app-card-8>
      <app-card-8></app-card-8>
   </div>
</div>
