.card-header-title {
   gap: var(--spacing-2);
}

.card-header-link {
   gap: var(--spacing-1);
   color: var(--color-8);
   font-size: var(--font-size-body-sm);
   font-weight: var(--font-weight-heading);
   padding: 10px 12px;
}

.card-children {
   padding: 20px 0;
   gap: var(--spacing-4);
   overflow-y: auto;
   scrollbar-width: none;
}

.show-scrollbar {
   scrollbar-width: thin !important;
}
