<footer>
   <mat-toolbar class="toolbar-nav">
      <button mat-button routerLink="/" routerLinkActive="active-link">
         <mat-icon>home</mat-icon>
         <span>{{ "COMMON.HOME" | translate }}</span>
      </button>
      <button mat-button routerLink="/help" routerLinkActive="active-link">
         <mat-icon>assistant</mat-icon>
         <span>{{ "COMMON.HELP" | translate }}</span>
      </button>
      <button mat-button routerLink="/tools" routerLinkActive="active-link">
         <mat-icon>settings_suggest</mat-icon>
         <span>{{ "COMMON.TOOLS" | translate }}</span>
      </button>
   </mat-toolbar>
</footer>
