<div>
   <div class="desktop-only">
      <img src="assets/images/onboarding/logo-fantomapp.svg" alt="Logo" class="logo">
   </div>
   <nav class="toolbar-nav max-w-(--max-width-mobile)">
      <button mat-button routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
         class="nav-button home-button" [attr.aria-label]="'COMMON.ARIA_LABEL.HOME' | translate">
         <div class="icon-container">
            <mat-icon [svgIcon]="homeIconInactive" class="icon-inactive icon-dynamic"></mat-icon>
            <mat-icon [svgIcon]="homeIconActive" class="icon-active icon-dynamic"></mat-icon>
         </div>
         <span>{{ "COMMON.HOME" | translate }}</span>
      </button>
      <button mat-button routerLink="/problems" routerLinkActive="active-link"
         [routerLinkActiveOptions]="{ exact: false }" class="nav-button problem-button"
         [class.problem-active]="isProblemIconActive" [class.force-active]="isProblemIconActive"
         [attr.aria-label]="'COMMON.ARIA_LABEL.PROBLEM' | translate">
         <div class="icon-container">
            <mat-icon [svgIcon]="problemIconInactive" class="icon-inactive icon-dynamic"></mat-icon>
            <mat-icon [svgIcon]="problemIconActive" class="icon-active icon-dynamic"></mat-icon>
         </div>
         <span>{{ "COMMON.PROBLEM" | translate }}</span>
      </button>
      <button mat-button routerLink="/tools" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
         class="nav-button tools-button" [class.tools-active]="isToolsIconActive"
         [class.force-active]="isToolsIconActive" [attr.aria-label]="'COMMON.ARIA_LABEL.TOOLS' | translate">
         <div class="icon-container">
            <mat-icon [svgIcon]="toolsIconInactive" class="icon-inactive icon-dynamic"
               [attr.data-icon]="toolsIconInactive"></mat-icon>
            <mat-icon [svgIcon]="toolsIconActive" class="icon-active icon-dynamic"
               [attr.data-icon]="toolsIconActive"></mat-icon>
         </div>
         <span>{{ "COMMON.TOOLS" | translate }}</span>
      </button>
      <button mat-button routerLink="/secure-myself" routerLinkActive="active-link"
         [routerLinkActiveOptions]="{ exact: true }" class="nav-button secure-button"
         [class.secure-active]="isSecureMyselfIconActive" [class.force-active]="isSecureMyselfIconActive"
         [attr.aria-label]="'COMMON.ARIA_LABEL.SECURE' | translate">
         <div class="icon-container">
            <mat-icon [svgIcon]="secureIconInactive" class="icon-inactive icon-dynamic"></mat-icon>
            <mat-icon [svgIcon]="secureIconActive" class="icon-active icon-dynamic"></mat-icon>
         </div>
         <span>{{ "COMMON.SECURE" | translate }}</span>
      </button>
   </nav>
</div>
