<div class="tools-container flex flex-col">
   <div class="tools-header flex items-center">
      <app-button-back [link]="'/tools'"></app-button-back>
      <img
         src="assets/images/picto-mot-de-passe.svg"
         alt="picto-mot-de-passe"
         class="tools-item-img"
      />
   </div>
   <div class="tools-content flex flex-col">
      <h3 class="tools-title">Test de mot de passe</h3>
      <p class="tools-description">
         Combien de temps faut-il à un cybercriminel pour le trouver ?
      </p>
   </div>
   <div class="tools-items flex flex-col">
      <div
         class="tools-item flex flex-col items-center justify-center"
         style="min-height: 300px"
      >
         <div class="tools-form flex flex-col">
            <label for="password-input" class="tools-form-title"
               >Mot de passe</label
            >
            <input
               id="password-input"
               type="password"
               [(ngModel)]="password"
               placeholder="Saisis ton mot de passe"
               autocomplete="off"
            />
            <button
               class="tools-form-button"
               type="button"
               (click)="testPassword()"
            >
               Test
            </button>
            <p class="tools-form-result">{{ result }}</p>
            <p class="tools-form-cracktime">{{ crackTime }}</p>
         </div>
         <ng-content></ng-content>
      </div>
   </div>
</div>
