.modal-full-container {
   background: var(--background-1);
   display: flex;
   flex-direction: column;
   padding: var(--spacing-3);
   gap: var(--spacing-4);
   overflow: scroll;
   min-height: 100vh;
   height: 100vh;
   max-width: var(--max-width-viewport);


   .details {
      gap: var(--spacing-3);
      padding-left: var(--spacing-3);
      padding-right: var(--spacing-3);
   }

   app-enriched-link,
   app-tile-mail {
      padding-left: var(--spacing-3);
      padding-right: var(--spacing-3);
   }

   .card-children {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-4);
      padding-bottom: 48px;
   }
}
