<mat-toolbar class="app-header-toolbar">
   <div class="header-right">
      <button #menuTrigger="matMenuTrigger" class="lang-trigger" mat-button [mat-menu-trigger-for]="languageMenu">
         @if (currentFlagUrl) {
            <img class="flag-img" [src]="currentFlagUrl" alt="flag" />
         } @else {
            <img class="flag-img" src="assets/flags/xx.png" alt="flag" />
         }
         @if (!menuTrigger.menuOpen) {
            <mat-icon class="chevron" iconPositionEnd>expand_more</mat-icon>
         } @else {
            <mat-icon class="chevron" iconPositionEnd>expand_less</mat-icon>
         }
      </button>
   </div>

   <mat-menu #languageMenu="matMenu" class="lang-menu" style="width: auto;">
      <div class="lang-menu-panel">
         @for (lang of _languageService.supportedLanguages; track lang.code) {
         <button mat-menu-item class="lang-item" (click)="_languageService.setLanguage(lang.code)">
            <div class="lang-item">
               @if (lang.flagUrl) {
                  <img class="flag-img" [src]="lang.flagUrl" alt="flag" />
               }
               <span class="language">{{ lang.languageName }}</span>
               <span class="country">&nbsp;⸱&nbsp;{{ lang.countryName }}</span>
               <span class="radio" [class.selected]="_languageService.language() === lang.code"></span>
            </div>
            <mat-divider class="divider"></mat-divider>
         </button>
         }
      </div>
   </mat-menu>
</mat-toolbar>
