<mat-toolbar class="app-header-toolbar">
   @if(isVisible()) {
   <div class="header-right">
      <button
         #deviceMenuTrigger="matMenuTrigger"
         class="lang-trigger"
         mat-button
         [mat-menu-trigger-for]="deviceMenu"
         [attr.aria-disabled]="null"
         [attr.role]="null"
      >
         <mat-icon class="!size-[16px] !m-0">📱</mat-icon>
         @if (!deviceMenuTrigger.menuOpen) {
         <mat-icon class="chevron" iconPositionEnd>expand_more</mat-icon>
         } @else {
         <mat-icon class="chevron" iconPositionEnd>expand_less</mat-icon>
         }
      </button>
   </div>

   <mat-menu #deviceMenu="matMenu" class="lang-menu" style="width: auto">
      <div class="lang-menu-panel">
         <button
            mat-menu-item
            class="lang-item"
            (click)="setDevice(Device.IOS)"
            [attr.aria-pressed]="
               selectedDevice === Device.IOS ? 'true' : 'false'
            "
         >
            <div class="lang-item">
               <span class="language">IOS</span>
               <span
                  class="radio"
                  [class.selected]="selectedDevice === Device.IOS"
               ></span>
            </div>
            <mat-divider class="divider"></mat-divider>
         </button>
         <button
            mat-menu-item
            class="lang-item"
            (click)="setDevice(Device.ANDROID)"
            [attr.aria-pressed]="
               selectedDevice === Device.ANDROID ? 'true' : 'false'
            "
         >
            <div class="lang-item">
               <span class="language">Android</span>
               <span
                  class="radio"
                  [class.selected]="selectedDevice === Device.ANDROID"
               ></span>
            </div>
            <mat-divider class="divider"></mat-divider>
         </button>
         <button
            mat-menu-item
            class="lang-item"
            (click)="setDevice(Device.WEB)"
            [attr.aria-pressed]="
               selectedDevice === Device.WEB ? 'true' : 'false'
            "
         >
            <div class="lang-item web">
               <span class="language">Web</span>
               <span
                  class="radio"
                  [class.selected]="selectedDevice === Device.WEB"
               ></span>
            </div>
            <mat-divider class="divider"></mat-divider>
         </button>
      </div>
   </mat-menu>
   }

   <div class="header-right">
      <button
         #languageMenuTrigger="matMenuTrigger"
         class="lang-trigger"
         mat-button
         [mat-menu-trigger-for]="languageMenu"
         [attr.aria-disabled]="null"
         [attr.role]="null"
      >
         @if (currentFlagUrl) {
         <img
            class="flag-img !size-[16px] !m-0"
            [src]="currentFlagUrl"
            [alt]="currentFlagAltKey | translate"
         />
         } @else {
         <span class="emoji-icon !m-0">🌐</span>
         } @if (!languageMenuTrigger.menuOpen) {
         <mat-icon class="chevron" iconPositionEnd>expand_more</mat-icon>
         } @else {
         <mat-icon class="chevron" iconPositionEnd>expand_less</mat-icon>
         }
      </button>
   </div>

   <mat-menu #languageMenu="matMenu" class="lang-menu" style="width: auto">
      <div class="lang-menu-panel">
         @for (lang of _languageService.supportedLanguages; track lang.code) {
         <button
            mat-menu-item
            class="lang-item"
            (click)="_languageService.setLanguage(lang.code)"
            [attr.aria-pressed]="
               _languageService.language() === lang.code ? 'true' : 'false'
            "
         >
            <div class="lang-item" [attr.lang]="lang.lang">
               @if (lang.flagUrl) {
               <img
                  class="flag-img"
                  [src]="lang.flagUrl"
                  [alt]="lang.flagAltKey || 'ALT_TEXT.GENERAL.FLAG' | translate"
               />
               } @else {
               <span class="emoji-icon">🌐</span>
               }
               <span class="language">{{ lang.languageName }}</span>
               <span class="country">&nbsp;⸱&nbsp;{{ lang.countryName }}</span>
               <span
                  class="radio"
                  [class.selected]="_languageService.language() === lang.code"
               ></span>
            </div>
            <mat-divider class="divider"></mat-divider>
         </button>
         }
      </div>
   </mat-menu>
</mat-toolbar>
