<div class="password-check-container flex flex-col">
   <div class="password-check-header flex items-center">
      <app-button-back [link]="'/tools'"></app-button-back>
      <img
         src="assets/images/picto-mot-de-passe.svg"
         alt="picto-mot-de-passe"
         class="password-check-item-img"
      />
   </div>
   <div class="password-check-header-content">
      <h3 class="password-check-header-title">Je teste mon mot de passe</h3>
      <p class="password-check-header-description">
         Combien de temps faut-il à un cybercriminel pour le trouver ?
      </p>
   </div>
   <div class="password-check-items flex flex-col">
      <img
         src="assets/images/img-tools-pwd.svg"
         alt="Décor mot de passe"
         class="password-check-bg-img"
         aria-hidden="true"
      />
      <div
         class="password-check-item flex flex-col items-center"
         style="min-height: 300px"
      >
         <label for="password-input" class="password-check-form-title"
            >Mot de passe</label
         >
         <div class="password-input">
            <input
               id="password-input"
               [type]="showPassword ? 'text' : 'password'"
               [(ngModel)]="password"
               autocomplete="off"
               title="Mot de passe"
               (keydown.enter)="checkPassword(); $event.preventDefault()"
            />
            <span
               class="password-eye-icon"
               (click)="toggleShowPassword()"
               tabindex="0"
               style="cursor: pointer"
            >
               <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
               >
                  <!-- Oeil ouvert -->
                  <g [attr.opacity]="showPassword ? 0 : 1">
                     <path
                        d="M12 5C16.1159 5 19.7279 7.8362 21.2471 12C19.7279 16.1638 16.1159 19 12 19C7.88401 19 4.27103 16.164 2.75195 12C4.27103 7.83603 7.88401 5 12 5Z"
                        stroke="currentColor"
                        stroke-width="2"
                     />
                     <circle
                        cx="12"
                        cy="12"
                        r="3"
                        stroke="currentColor"
                        stroke-width="2"
                     />
                  </g>
                  <!-- Oeil fermé -->
                  <g [attr.opacity]="showPassword ? 1 : 0">
                     <path
                        d="M2.57651 14.3571L2.56778 14.3417C2.2164 13.7226 2.69569 13 3.40754 13L3.69861 13C4.07021 13 4.40748 13.2084 4.60047 13.526C6.19894 16.156 8.94848 17.8333 11.9988 17.8333C15.049 17.8333 17.7986 16.156 19.3971 13.526C19.5901 13.2084 19.9273 13 20.2989 13H20.59C21.3018 13 21.7811 13.7226 21.4297 14.3417L21.421 14.3571C19.4948 17.739 15.9958 20 11.9988 20C8.00177 20 4.50269 17.739 2.57651 14.3571Z"
                        fill="currentColor"
                     />
                     <path
                        d="M12 19V22"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                     />
                     <path
                        d="M7 18L5.5 20.5981"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                     />
                     <path
                        d="M17 18L18.5 20.5981"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                     />
                  </g>
               </svg>
            </span>
         </div>
         <p class="password-check-form-result">{{ result }}</p>
         <p class="password-check-form-cracktime">{{ message }}</p>
         <ng-content></ng-content>
      </div>
   </div>
</div>
