.password-check-container {
   display: flex;
   flex-direction: column;
   background: linear-gradient(
      354.89deg,
      var(--color-primary-400) 0%,
      var(--color-primary-700) 51%,
      var(--color-primary-950) 100%
   );
}

.password-check-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 16px;
   margin-top: 16px;
   margin-bottom: 16px;
   margin-left: 32px;
   margin-right: 32px;
}

.password-check-header-content {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-1);
   margin-right: 32px;
   margin-left: 32px;
   padding-left: 16px;
}

.password-check-header-title {
   color: var(--color-neutral-light-background-3);
}

.password-check-header-description {
   font-size: var(--font-size-body-md);
   color: var(--color-neutral-light-background-3);
}

.password-check-items {
   background-color: var(--background-20);
   border-radius: var(--border-radius-5) var(--border-radius-5) 0 0;
   padding: var(--spacing-5) var(--spacing-5) 454px var(--spacing-5);
   gap: var(--spacing-5);
   margin-top: 56px;
   text-align: left;
   opacity: 70%;
   position: relative;
   overflow: hidden;
   max-height: 100%;
}

.password-check-bg-img {
   position: absolute;
   left: 50%;
   top: 270px;
   transform: translateX(-50%);
   width: 100%;
   height: auto;
   max-width: 390px;
   max-height: 100%;
   pointer-events: none;
   z-index: 0;
   opacity: 0.4;
}

.password-check-item {
   width: 100%;
   max-width: 400px;
   margin: 0 auto;
   height: 76px;
   position: relative;
   z-index: 1;

   .password-check-form-title {
      color: var(--color-2);
      font-size: var(--font-size-body-md);
      font-weight: var(--font-weight-title);
      text-align: left;
      align-self: flex-start;
      width: 100%;
      margin-bottom: 8px;
      margin-left: 5px;
   }
}

.password-input {
   position: relative;
   width: 100%;
   max-width: 400px;
   margin: 0 auto var(--spacing-5) auto;
   display: flex;
   border-radius: var(--border-radius-2);
   background-color: var(--background-4);
   align-items: center;
   gap: var(--spacing-3);
   height: 50px;
}

.password-eye-icon {
   position: absolute;
   right: 16px;
   top: 50%;
   transform: translateY(-50%);
   width: 24px;
   height: 24px;
   z-index: 2;
   cursor: pointer;
   color: var(--color-14);
}

.password-input input {
   width: 100%;
   min-width: 0;
   box-sizing: border-box;
   padding-left: 32px;
   padding-right: 48px;
   height: 100%;
   border: none;
   background: transparent;
   outline: none;
   font-size: 1rem;
   border-radius: var(--border-radius-2);
}
