.view-steps-container {
   background-color: var(--background-9);
   height: calc(100vh);
   padding-top: var(--spacing-2);
}

swiper-container::part(pagination) {
   align-items: center;
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   background-color: var(--color-primary-50);
   width: fit-content !important;
   height: 24px !important;
   border-radius: var(--border-radius-6);
   position: relative;
   bottom: 40px !important;
   margin: auto;
}
swiper-container::part(bullet) {
   width: 6px;
   height: 6px;
   background-color: transparent;
   border: var(--border) var(--color-neutral-light-content-2);
   opacity: 1;
}
swiper-container::part(bullet-active) {
   width: 12px;
   height: 12px;
   background-color: var(--color-neutral-light-content-2);
}

.view-header {
   margin-top: clamp(4px, 1.9vh, 16px);
   margin-bottom: clamp(4px, 1.9vh, 16px);
   margin-right: clamp(16px, calc(50% - 80px), 90px);
   margin-left: clamp(84px, calc(50% - 80px), 90px);
}

.view-header-btn {
   position: absolute;
   left: 32px;
   overflow: hidden;
}

h1.view-header-title {
   font-size: var(--font-size-body-md);
   line-height: var(--line-height-body);
   font-family: var(--body-font-family);
   font-weight: bold;
   letter-spacing: var(--letter-spacing-body);
   color: inherit;

   .p {
      color: var(--color-34);
   }
}

.view-header-description {
   color: var(--color-36);
   font-size: inherit;
   line-height: inherit;
   margin: 0;
}
