.view-steps-container {
   background-color: var(--background-9);
   height: calc(100vh);
   padding-top: var(--spacing-2);
}

swiper-container {
   height: calc(100vh - 150px);
}

swiper-container::part(pagination) {
   align-items: center;
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   background-color: var(--color-primary-50);
   width: fit-content !important;
   height: 24px !important;
   border-radius: var(--border-radius-6);
   position:relative;
   bottom: 32px !important;
   margin: auto;
}
swiper-container::part(bullet) {
   background-color:var(--color-primary-400);
}
swiper-container::part(bullet-active) {
   width: 12px;
   height: 12px;
   background-color:var(--color-neutral-light-content-2);
}

.view-header {
   margin: 16px 90px;
}

.view-header-btn {
   position: absolute;
   left: 32px;
}

.view-header-title {
   color: var(--color-9);
}

.view-header-description {
   color: var(--color-neutral-light-content-5);
}
