<div class="view-steps-container flex flex-col" (keydown)="onkeydown($event)">
   <div class="flex flex-col justify-center view-header">
      <app-button-back class="view-header-btn"></app-button-back>
      @if ((page() | pageTranslation)?.firstTitle) {
         <h1 class="text-center view-header-title" [innerHTML]="(page() | pageTranslation)?.firstTitle! | translate | safeHtml"></h1>
      }
      @if ((page() | pageTranslation)?.description) {
         <p class="text-center view-header-description" [innerHTML]="(page() | pageTranslation)?.description! | translate | safeHtml"></p>
      }
   </div>

   <swiper-container #swiper class="flex-1" slides-per-view="1"
      [pagination]="{ clickable: false }" class="h-full"   >
      @for (child of sortedChildren; track $index) {
         <swiper-slide class="!h-full">
            <app-card-11 [data]="child" [index]="$index" [maxIndex]="(sortedChildren.length - 1)"
               (prev)="arrowPrev()"
               (next)="arrowNext()"></app-card-11>
         </swiper-slide>
      }
   </swiper-container>
</div>
