.card-container {
   box-shadow: var(--shadow-1);
   width: 173px;
   padding: 6px;
   gap: var(--spacing-1);
   background-color: var(--background-2);
   border-radius: 12px;
}

.card-container:hover,
.card-container:focus {
   background-color: var(--background-39);

   .card-description-text {
      color: var(--color-11) !important;
   }
}

.card-preview {
   position: relative;
}

.card-preview-title {
   position: absolute;
   top: var(--spacing-1);
   left: var(--spacing-1);
}

.card-preview-image {
   width: 161px;
   height: 164px;
   object-fit: cover;
   border-radius: 10px;
   object-position: top left;
}

.card-description {
   gap: 2px;
   transition: color 0.2s;
}

.card-description-text {
   font-size: var(--font-size-body-sm);
   font-weight: var(--font-weight-heading);
   color: var(--color-10);
   transition: color 0.2s;
}
