<div class="editor-container">
   <input type="file" accept="image/*" (change)="handleImageUpload($event)" />

   <canvas #canvas (mousedown)="startPainting($event)" (mousemove)="paint($event)" (mouseup)="stopPainting()"
      (mouseleave)="stopPainting()" (touchstart)="startPainting($event.touches[0])"
      (touchmove)="paint($event.touches[0])" (touchend)="stopPainting()" [style.width.px]="canvasSize().width"
      [style.height.px]="canvasSize().height">
   </canvas>

   <div class="controls">
      <input type="range" min="1" max="50" [(ngModel)]="blurRadius">
      <span>Blur: {{ blurRadius() }}px</span>
   </div>

   <div class="controls">
      <input type="range" min="10" max="100" [ngModel]="brushSize()" (ngModelChange)="brushSize.set($event)">
      <span>Brush: {{ brushSize() }}px</span>
   </div>

   <div class="w-100 text-center">
      <button mat-flat-button (click)="downloadImage()">Télécharger l'image</button>
   </div>
</div>
