<div class="card-container">
   @if ((data() | pageTranslation)?.firstTitle) {
      <h5 class="card-title" [innerHTML]="(data() | pageTranslation)?.firstTitle! | translate | safeHtml"></h5>
   }
   @if ((data() | pageTranslation)?.description) {
      <div  class="card-description" [innerHTML]="(data() | pageTranslation)?.description! | translate | safeHtml"></div>
   }
   @if (sortedChildren.length > 0) {
      <div class="card-children flex flex-col">
         @for (child of sortedChildren; track $index) {
            @switch (child.type) {
               @case (ComponentType.CARD_15) {
                  <app-card-15 [data]="child"></app-card-15>
               }
            }
         }
      </div>
   }
</div>
