.visibility-check-container {
   background: linear-gradient(
      354.89deg,
      var(--background-17) 4.1%,
      var(--background-18) 95.9%
   );
   display: flex;
   flex-direction: column;
   min-height: 100vh;

   .header {
      padding: var(--spacing-3) var(--spacing-3) 36px var(--spacing-5);
      gap: 30px;
      flex-wrap: wrap;

      .details {
         gap: var(--spacing-1);
         color: var(--color-neutral-light-background-2);

         h3 {
            color: var(--color-neutral-light-background-2);
         }
      }
   }

   .questions-container {
      background-color: var(--background-20);
      border-radius: var(--border-radius-5) var(--border-radius-5) 0 0;
      padding: var(--spacing-5) var(--spacing-5) 148px var(--spacing-5);
      gap: var(--spacing-5);
      flex: 1;

      .sections {
         gap: var(--spacing-5);

         .section-items {
            gap: var(--spacing-5);

            .section-item {
               gap: var(--spacing-1);

               .answers {
                  gap: var(--spacing-3);

                  .answer {
                     background-color: var(--background-2);
                     gap: 10px;
                     min-height: 83px;
                     height: auto;
                     padding: 20px var(--spacing-3);
                     border-radius: var(--border-radius-2);

                     --mat-checkbox-label-text-font: var(--body-font-family);
                     --mat-checkbox-label-text-size: var(--font-size-body-md);
                     --mat-checkbox-label-text-weight: var(--font-weight-body);
                     --mat-checkbox-label-text-line-height: var(
                        --line-height-body
                     );
                     --mat-checkbox-label-text-tracking: var(
                        --letter-spacing-body
                     );

                     .check-title {
                        color: var(--color-3);
                     }

                     .check-description {
                        color: var(--color-5);
                     }

                     ::ng-deep
                        .mdc-checkbox__native-control:enabled:not(:checked)
                        ~ .mdc-checkbox__background {
                        border-color: var(--color-8) !important;
                        background-color: transparent !important;
                     }

                     ::ng-deep
                        .mdc-checkbox__native-control:enabled:checked
                        ~ .mdc-checkbox__background {
                        border-color: var(--background-29) !important;
                        background-color: var(--background-29) !important;
                     }

                     &:focus-within {
                        outline: 3px solid var(--color-1);
                        outline-offset: 4px;
                     }

                     ::ng-deep
                        .mdc-checkbox__native-control:focus-visible
                        ~ .mdc-checkbox__background {
                        outline: 3px solid var(--color-1);
                        outline-offset: 2px;
                     }

                     &:hover,
                     &.mat-mdc-checkbox-checked {
                        background-color: var(--background-3);

                        .check-title {
                           color: var(--color-neutral-light-content-1);
                        }

                        .check-description {
                           color: var(--color-neutral-light-content-4);
                        }
                     }
                  }
               }
            }
         }
      }
   }

   .controls {
      padding: 54px var(--spacing-5);
      background: var(--background-19);
      gap: var(--spacing-3);
   }
}
