.visibility-check-container {
   height: 100%;
   background: linear-gradient(354.89deg, var(--background-17) 4.1%, var(--background-18) 95.9%);

   .header {
      padding: var(--spacing-3) var(--spacing-3) 36px var(--spacing-5);
      gap: 30px;

      .details {
         gap: var(--spacing-1);
         color: var(--color-neutral-light-background-2);

         h3 {
            color: var(--color-neutral-light-background-2);
         }
      }
   }

   .questions-container {
      background-color: var(--background-20);
      border-radius: var(--border-radius-5) var(--border-radius-5) 0 0;
      padding: var(--spacing-5) var(--spacing-5) 148px var(--spacing-5);
      gap: var(--spacing-5);

      .sections {
         gap: var(--spacing-5);

         .section-items {
            gap: var(--spacing-5);

            .section-item {
               gap: var(--spacing-1);

               .answers {
                  gap: var(--spacing-3);

                  .answer {
                     background-color: var(--background-2);
                     gap: 10px;
                     min-height: 83px;
                     padding: 20px var(--spacing-3);
                     border-radius: var(--border-radius-2);

                     --mat-radio-label-text-font: var(--body-font-family);
                     --mat-radio-label-text-size: var(--font-size-body-md);
                     --mat-radio-label-text-weight: var(--font-weight-body);
                     --mat-radio-label-text-line-height: var(--line-height-body);
                     --mat-radio-label-text-tracking: var(--letter-spacing-body);
                     .radio-title {
                        color: var(--color-3);
                     }

                     .radio-description {
                        color: var(--color-5);
                     }

                     &:hover,
                     &.selected {
                        background-color: var(--background-3);

                        .radio-title {
                           color: var(--color-neutral-light-content-1);
                        }

                        .radio-description {
                           color: var(--color-neutral-light-content-4);
                        }
                     }
                  }
               }
            }
         }
      }
   }

   .controls {
      --mdc-filled-button-label-text-size: 18px;
      --mdc-filled-button-container-height: auto;

      padding: 54px var(--spacing-5);
      background: var(--background-19);
      gap: var(--spacing-3);

      .prev-btn,
      .next-btn,
      .submit-btn {
         padding: 10px var(--spacing-4);
      }

      .next-btn,
      .submit-btn {
         --mdc-filled-button-container-color: var(--color-20);
         --mdc-filled-button-label-text-color: var(--color-18);
      }

      .prev-btn {
         --mdc-filled-button-container-color: var(--background-10);
         --mdc-filled-button-label-text-color: var(--color-14);
         border: var(--border) var(--background-3);
      }
   }
}
