<div class="visibility-check-container">
   <div class="header flex flex-col relative">
      <app-button-back link="/tools" class="fixed top-[16px] z-1"></app-button-back>
      <div class="flex justify-end">
         <img [src]="currentQuestion.image" alt="image" class="!w-[104px] object-contain" />
      </div>
      <div class="details flex flex-col">
         <h3>Je teste ma visibilité</h3>
         <p>Peut-on m'identifier à partir de mon pseudo et ma bio ?</p>
      </div>
   </div>
   <div class="questions-container flex flex-col">
      <app-stepper [currentStep]="currentStep" [totalSteps]="totalSteps"></app-stepper>
      <div class="sections flex flex-col">
         <h4 class="text-(--color-19)">{{ currentQuestion.title }}</h4>
         <div class="section-items flex flex-col">
            @for (section of currentQuestion.sections; track $index) {
            <div class="section-item flex flex-col">
               @if (section.title) {
                  <div class="font-[600] text-(--color-8)">{{ section.title }}</div>
               }
               @for (answer of section.answers; track $index) {
               <div class="answers flex flex-col">
                  <div class="answer flex items-center cursor-pointer">
                     <mat-radio-button [disableRipple]="true" aria-hidden="true"></mat-radio-button>
                     <div>
                        <span class="radio-title">{{ answer.title }}</span>
                        @if(answer.description) {
                           <span class="radio-description ml-1">{{ answer.description }}</span>
                        }
                     </div>
                  </div>
               </div>
               }
            </div>
            }
         </div>
      </div>
   </div>
   <div class="controls fixed bottom-0 w-full flex">
      @if(currentStep > 1) {
      <button mat-flat-button class="prev-btn w-full" (click)="onClickPrevious()">
         <div class="flex items-center gap-(--spacing-1)">
            <mat-icon svgIcon="arrow24x24-icon" class="rotate-[180deg]"></mat-icon>
            <span>Précédent</span>
         </div>
      </button>
      }
      @if(currentStep < totalSteps) { 
         <button mat-flat-button class="next-btn w-full" (click)="onClickNext()">
            <div class="flex items-center gap-(--spacing-1)">
               <span>Suivant</span>
               <mat-icon svgIcon="arrow24x24-icon"></mat-icon>
            </div>
         </button>
         }
         @if (currentStep === totalSteps) {
         <button mat-flat-button class="submit-btn w-full" (click)="onClickResults()">
            <div class="flex items-center gap-(--spacing-1)">
               <span>Résultats</span>
               <mat-icon svgIcon="arrow24x24-icon"></mat-icon>
            </div>
         </button>
         }
   </div>
</div>
