<div class="visibility-check-container">
   <div class="header flex flex-col relative">
      <app-button-back class="fixed top-[16px] z-1"></app-button-back>
      <div class="flex justify-end">
         <img
            [src]="currentQuestion.image"
            alt=""
            aria-hidden="true"
            class="!w-[104px] object-contain"
         />
      </div>
      <div class="details flex flex-col">
         <h3>{{ "TOOLS.VISIBILITY_CHECK.TITLE" | translate }}</h3>
         <p>{{ "TOOLS.VISIBILITY_CHECK.DESCRIPTION" | translate }}</p>
      </div>
   </div>
   <form class="questions-container flex flex-col" [formGroup]="formGroup">
      <app-stepper
         [currentStep]="currentStep"
         [totalSteps]="totalSteps"
      ></app-stepper>
      <div class="sections flex flex-col">
         <h4 class="text-(--color-19)">
            {{ currentQuestion.title | translate }}
         </h4>
         <div class="section-items flex flex-col">
            @for (section of currentQuestion.sections; track section.name) {
            <div class="section-item flex flex-col color-(--color-8)">
               <fieldset>
                  @if (section.title) {
                  <legend class="sr-only">
                     {{ getCleanTitle(section.title) }}
                  </legend>
                  <div class="font-[600] text-(--color-8)" aria-hidden="true">
                     <span [innerHTML]="section.title | translate"></span>
                  </div>
                  }
                  <div class="answers flex flex-col">
                     @for (answer of section.answers; track $index) {
                     <mat-checkbox
                        [disableRipple]="true"
                        [checked]="isChecked(section.name, answer.title)"
                        (change)="
                           onCheckboxChange(
                              section.name,
                              answer.title,
                              $event.checked
                           )
                        "
                        (click)="
                           forceCheckboxSelection(
                              $event,
                              section.name,
                              answer.title
                           )
                        "
                        class="answer flex items-center cursor-pointer checkbox-custom"
                     >
                        <span class="check-title">{{
                           answer.title | translate
                        }}</span>
                        @if (answer.description) {
                        <span class="check-description ml-1">{{
                           answer.description | translate
                        }}</span>
                        }
                     </mat-checkbox>
                     }
                  </div>
               </fieldset>
            </div>
            }
         </div>
      </div>
   </form>
   <div
      class="controls fixed max-w-(--max-width-viewport) bottom-0 w-full flex"
   >
      @if(currentStep > 1) {
      <app-button
         [label]="'COMMON.PREVIOUS' | translate"
         variant="secondary"
         [iconBeforeLabel]="{ name: 'arrow24x24-icon', rotate: 180 }"
         (click)="onClickPrevious()"
         class="w-full"
      ></app-button>
      } @if(currentStep < totalSteps) {
      <app-button
         [label]="'COMMON.NEXT' | translate"
         variant="primary"
         [iconAfterLabel]="{ name: 'arrow24x24-icon' }"
         (click)="onClickNext()"
         class="w-full"
      ></app-button>
      } @if (currentStep === totalSteps) {
      <app-button
         [label]="'COMMON.NEXT' | translate"
         variant="primary"
         [iconAfterLabel]="{ name: 'arrow24x24-icon' }"
         (click)="onClickResults()"
         class="w-full"
      ></app-button>
      }
   </div>
</div>
