<div class="visibility-check-container relative">
   <div class="header flex flex-col">
      <app-button-back link="/tools" class="fixed top-[16px] z-1"></app-button-back>
      <div class="flex justify-end">
         <img src="assets/images/pseudo-illustration.svg" alt="image" class="!w-[104px] object-contain" />
      </div>
      <div class="details flex flex-col">
         <h3>Je teste ma visibilité</h3>
         <p>Peut-on m'identifier à partir de mon pseudo et ma bio ?</p>
      </div>
   </div>
   <div class="questions-container flex flex-col">
      <app-stepper [currentStep]="currentStep" [totalSteps]="totalSteps"></app-stepper>
      <div class="sections flex flex-col">
         <h4>Que contient ton pseudo ?</h4>
         <div class="section-items flex flex-col">
            @for (item of ['', '']; track $index) {
            <div class="section-item flex flex-col">
               <div>🪪 Identité</div>
               @for (item of ['', '', '']; track $index) {
               <div class="answers flex flex-col">
                  <div class="answer flex items-center">
                     <mat-radio-button [disableRipple]="true" aria-hidden="true"></mat-radio-button>
                     <div>Mon nom ou mon prénom en entier <span>(exemple : Martin)</span></div>
                  </div>
               </div>
               }
            </div>
            }
         </div>
      </div>
   </div>
   <div class="controls fixed bottom-0 w-full flex">
      @if(currentStep > 1) {
         <button mat-stroked-button class="w-full" (click)="onClickPrevious()">Précédent</button>
      }
      @if(currentStep < totalSteps) {
         <button mat-flat-button class="w-full" (click)="onClickNext()">Suivant</button>
      }
      @if (currentStep === totalSteps) {
         <button mat-flat-button class="w-full" (click)="onClickResults()">Résultats</button>
      }
   </div>
</div>
