<div class="app-info-container" role="main">
   <!-- Bouton retour -->
   <div class="back-btn">
      <app-button-back size="md"></app-button-back>
   </div>

   <!-- Contenu global avec padding uniforme -->
   <div class="app-info-content">
      <h1 class="app-info-title">{{ "HOME.APP_INFO.TITLE" | translate }}</h1>

      <div class="app-info-text">
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_1' | translate"></p>
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_2' | translate"></p>
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_3' | translate"></p>
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_4' | translate"></p>
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_5' | translate"></p>
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_6' | translate"></p>
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_7' | translate"></p>
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_8' | translate"></p>
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_9' | translate"></p>
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_10' | translate"></p>
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_11' | translate"></p>
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_12' | translate"></p>
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_13' | translate"></p>
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_14' | translate"></p>
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_15' | translate"></p>
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_16' | translate"></p>
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_17' | translate"></p>
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_18' | translate"></p>
         <p [innerHTML]="'HOME.APP_INFO.DESCRIPTION_19' | translate"></p>
      </div>

      <!-- Image principale -->
      <div class="app-info-image">
         <img
            src="assets/images/app-info.svg"
            alt=""
            aria-hidden="true"
            class="illustration"
         />
      </div>
   </div>
</div>
