<a [href]="`tel:${((data() | pageTranslation)?.firstTitle | stripHtml)}`">
   <div class="flex flex-col tile-main">
      @if ((data() | pageTranslation)?.description) {
         <div [innerHTML]="(data() | pageTranslation)?.description | safeHtml"></div>
      }
      <div class="tile-container flex justify-between items-center">
         <div class="flex items-center tile-body">
            <img [src]="(data() | pageTranslation)?.image || (data() | pageTranslation)?.staticImage" class="tile-image" />
            <h3 [innerHTML]="(data() | pageTranslation)?.firstTitle | safeHtml"></h3>
         </div>
         <div>
            <mat-icon [svgIcon]="isDarkMode() ? 'icon-phone-dark' : 'icon-phone-light'"></mat-icon>
         </div>
      </div>
   </div>
</a>
