<a [href]="(data() | pageTranslation)?.firstTitle ? `tel:${((data() | pageTranslation)?.firstTitle! | translate | stripHtml)}` : null">
   <div class="flex flex-col tile-main">
      @if ((data() | pageTranslation)?.description) {
         <div class="ckeditor-content" [innerHTML]="(data() | pageTranslation)?.description! | translate| safeHtml"></div>
      }
      <div class="tile-container flex justify-between items-center">
         <div class="flex items-center tile-body">
            <img [src]="(data() | pageTranslation)?.image || (data() | pageTranslation)?.staticImage" class="tile-image" />
            @if ((data() | pageTranslation)?.firstTitle) {
               <h3 [innerHTML]="(data() | pageTranslation)?.firstTitle! | translate | safeHtml" class="tile-title ckeditor-content"></h3>
            }
         </div>
         <div>
            <mat-icon [svgIcon]="isDarkMode() ? 'icon-phone-dark' : 'icon-phone-light'"></mat-icon>
         </div>
      </div>
   </div>
</a>
