.card-container {
   padding: 8px;
   background-color: var(--background-2);
   border-radius: 16px;
   gap: 12px;
   box-shadow: var(--shadow-1);

   ::ng-deep {
      ul {
         list-style: disc !important;
         margin-left: 2rem;
      }

      a {
         color: var(--color-8);
         text-decoration: underline;
      }
   }
}

.card-image {
   width: 109px;
   height: 73px;
   object-fit: cover;
   border-radius: 10px;
   object-position: top left;
}

.card-title {
   font-weight: 600;
   color: var(--color-3);
}
