
<table>
   <thead>
      <tr>
         <th scope="col">ID</th>
         <th scope="col">Nom</th>
         <th scope="col">attr1</th>
      </tr>
   </thead>
   <tbody>
      @for (foo of TABLE_DATA; track foo.id) {
         <tr>
            <td>{{ foo.id }}</td>
            <td>{{ foo.name }}</td>
            <td>{{ foo.attributCamelCase }}</td>
         </tr>
      }
   </tbody>
</table>

@if (page() > 1) {
   <button (click)="handlePageChange(page() - 1)">
      Précédent
   </button>
}
@if (page() < foos()?.totalPages!) {
   <button (click)="handlePageChange(page() + 1)">
      Suivant
   </button>
}

