<div
   class="card-container flex items-center cursor-pointer"
   [class.card-container--zoom]="shouldUseZoomLayout()"
>
   <img
      [src]="
         (data() | pageTranslation)?.image ||
         (data() | pageTranslation)?.staticImage
      "
      alt=""
      aria-hidden="true"
      class="card-image"
      [class.card-image--zoom]="shouldUseZoomLayout()"
   />
   <div class="flex justify-between items-center w-full min-w-0 flex-1">
      <div class="flex flex-col min-w-0 flex-1">
         @if ((data() | pageTranslation)?.firstTitle) {
         <p
            class="card-title ckeditor-content"
            [innerHTML]="
               (data() | pageTranslation)?.firstTitle!
                  | translate
                  | replaceStringDark
                     : 'hsl(258, 88%, 40%)'
                     : 'var(--color-primary-400)'
                  | safeHtml
            "
         ></p>
         } @if((data() | pageTranslation)?.description) {
         <p
            class="card-description ckeditor-content"
            [innerHTML]="
               (data() | pageTranslation)?.description!
                  | translate
                  | replaceStringDark
                     : 'hsl(258, 88%, 40%)'
                     : 'var(--color-primary-400)'
                  | safeHtml
            "
         ></p>
         }
      </div>
      <div>
         <mat-icon
            [svgIcon]="
               isDarkMode()
                  ? 'chevron24x24-icon-dark'
                  : 'chevron24x24-icon-light'
            "
         ></mat-icon>
      </div>
   </div>
</div>
