.reported-content-container {
   background: var(--background-6);
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   gap: var(--spacing-5);

   .header {
      gap: 24px;
      padding: var(--spacing-3) var(--spacing-5) 0 var(--spacing-5);

      .details {
         gap: var(--spacing-1);
      }
   }

   .content {
      padding: 0 var(--spacing-3) 100px var(--spacing-3);
   }

   .controls {
      max-width: var(--max-width-viewport);
      left: 50%;
      transform: translateX(-50%);
      padding: 50px var(--spacing-3);
      background: var(--background-19);
      gap: var(--spacing-3);
   }
}

@media (min-width: 770px) {
   .reported-content-container .controls {
      left: calc(50% + 118px);
   }
}

::ng-deep .ngx-arrow {
   .arrow {
      background-color: var(--background-6) !important;
   }
}

.popover-content {
   max-width: calc(100vw - var(--spacing-5));
   margin: 0 var(--spacing-3);
   box-sizing: border-box;
   word-break: break-word;
   overflow-wrap: anywhere;

   ::ng-deep a {
      text-decoration: underline;
   }
}
