<div
   [attr.inert]="popover.value ? 'true' : null"
   class="reported-content-container"
>
   <div class="fixed bg-(image:--background-31) h-[110px] w-full z-100"></div>
   <div class="header flex flex-col relative z-101">
      <app-button-back class="fixed top-[16px] z-103"></app-button-back>
      <div class="flex justify-end z-102">
         <img
            src="assets/images/report-picto.png"
            alt=""
            class="w-[86px]! h-[66px]! object-contain"
         />
      </div>
      <div class="details flex flex-col" role="heading" aria-level="1">
         <h3 role="heading" aria-level="1">
            {{
               "PROBLEMS.DELETE_CONTENT.RESULTS.REPORTED_CONTENT.TITLE"
                  | translate
            }}
         </h3>
      </div>
   </div>
   <div class="content flex flex-col gap-(--spacing-4)">
      <app-card-12 [data]="card_12"></app-card-12>
      <app-divider></app-divider>
      <div class="flex flex-col gap-(--spacing-5)">
         <h5
            class="pl-(--spacing-3)! pr-(--spacing-3)!"
            role="heading"
            aria-level="2"
         >
            {{
               "PROBLEMS.DELETE_CONTENT.RESULTS.REPORTED_CONTENT.P2.TITLE_PART1"
                  | translate
            }}
            <ngx-popover
               #popover
               [placement]="'bottom'"
               [middleware]="popoverMiddleware"
               [autoUpdate]="true"
               class="inline"
            >
               <button
                  [innerHTML]="'COMMON.ORGANISATION' | translate"
                  class="inline-flex cursor-pointer underline text-(--color-24)"
                  [attr.aria-expanded]="popover.value"
               ></button>
               @if (popover.value) {
               <div
                  class="fixed inset-0 bg-black/70 z-900"
                  (click)="popover.close()"
               ></div>
               }
               <ng-template ngx-popover-template>
                  <div
                     class="popover-content relative max-w-[358px] bg-(--background-6) p-[16px] pl-[24px] pr-[60px] rounded-[20px]"
                  >
                     <button
                        (click)="popover.close()"
                        class="absolute top-[16px] right-[24px]"
                     >
                        <mat-icon
                           svgIcon="close24x24-icon"
                           style="color: var(--color-14)"
                        ></mat-icon>
                     </button>
                     <p
                        [innerHTML]="
                           'PROBLEMS.DELETE_CONTENT.RESULTS.REPORTED_CONTENT.P2.TOOLTIP'
                              | translate
                        "
                        class="text-(--color-14)"
                     ></p>
                  </div>
               </ng-template>
               <ngx-arrow />
            </ngx-popover>
            <button
               class="inline-flex text-(--color-24)"
               [attr.aria-expanded]="dialog.openDialogs.length > 0"
               (click)="openDialog()"
            >
               <mat-icon svgIcon="icon-definition24x24"></mat-icon>
            </button>
            {{
               "PROBLEMS.DELETE_CONTENT.RESULTS.REPORTED_CONTENT.P2.TITLE_PART2"
                  | translate
            }}
         </h5>
         <div
            class="flex flex-col bg-(--background-7) rounded-(--border-radius-2) pt-(--spacing-2) pb-(--spacing-2)"
         >
            <div
               class="flex justify-center items-center gap-[10px] p-(--spacing-2) pr-[3px]"
            >
               <div>
                  <img
                     src="assets/images/calendar-picto.png"
                     alt=""
                     class="max-w-[43px]! min-w-[43px]!"
                  />
               </div>
               <div
                  class="p-[10px]"
                  [innerHTML]="
                     'PROBLEMS.DELETE_CONTENT.RESULTS.REPORTED_CONTENT.P2.DESCRIPTION1'
                        | translate
                  "
               ></div>
            </div>
            <div class="flex justify-center">
               <span
                  class="bg-(--color-24) pt-[4px] pb-[4px] pl-(--spacing-1) pr-(--spacing-1) rounded-(--border-radius-3) text-(--color-neutral-light-background-2)"
                  style="font-weight: 700; line-height: normal"
               >
                  {{ "COMMON.OR" | translate }}
               </span>
            </div>
            <div
               class="flex justify-center items-center gap-[10px] p-(--spacing-2) pr-[3px]"
            >
               <div>
                  <img
                     src="assets/images/mail-picto.svg"
                     alt=""
                     class="!max-w-[43px] !min-w-[43px]"
                  />
               </div>
               <div
                  class="p-[10px]"
                  [innerHTML]="
                     'PROBLEMS.DELETE_CONTENT.RESULTS.REPORTED_CONTENT.P2.DESCRIPTION2'
                        | translate
                  "
               ></div>
            </div>
         </div>
      </div>
   </div>
   <div class="controls fixed bottom-0 w-full flex">
      <app-button
         [label]="
            'PROBLEMS.DELETE_CONTENT.RESULTS.REPORTED_CONTENT.BUTTON'
               | translate
         "
         variant="primary"
         [iconAfterLabel]="{ name: 'arrow24x24-icon' }"
         class="w-full"
         (click)="
            utilsService.goTo('delete-content/reported-content/complaint')
         "
      ></app-button>
   </div>
</div>
