.delete-content-container {
   background: var(--background-6);
   display: flex;
   flex-direction: column;
   min-height: 100vh;

   .header {
      padding: var(--spacing-3) var(--spacing-3) 36px var(--spacing-5);
      gap: 30px;

      .details {
         gap: var(--spacing-1);
      }
   }

   .controls {
      --mdc-filled-button-label-text-size: 18px;
      --mdc-filled-button-container-height: auto;

      padding: 90px var(--spacing-5);
      background: var(--background-19);
      gap: var(--spacing-3);

      .prev-btn,
      .next-btn,
      .submit-btn {
         padding: 10px var(--spacing-4);
      }

      .next-btn,
      .submit-btn {
         --mdc-filled-button-container-color: var(--color-20);
         --mdc-filled-button-label-text-color: var(--color-18);
      }

      .prev-btn {
         --mdc-filled-button-container-color: var(--background-10);
         --mdc-filled-button-label-text-color: var(--color-14);
         border: var(--border) var(--background-3);
      }
   }
}
