<div class="bg-(--background-6) pt-(--spacing-5) pr-(--spacing-3) pb-(--spacing-5) pl-(--spacing-3)">
   <mat-dialog-content
      class="!flex flex-col gap-(--spacing-5) !pt-(--spacing-4) !pr-(--spacing-3) !pb-(--spacing-4) !pl-(--spacing-3)">
      <div class="flex flex-col gap-(--spacing-3)">
         <div class="flex flex-col gap-(--spacing-2)">
            <app-button-close link="/tools" size="sm" style="position: absolute; top: 24px; right: 24px;" mat-dialog-close></app-button-close>
            <h5>Quel est le rôle de la CNIL ?</h5>
            <p
               style="color: var(--color-9); font-family: var(--body-font-family); font-weight: var(--font-weight-body); font-size: var(--font-size-body-md); line-height: var(--line-height-body); letter-spacing: var(--letter-spacing-body);">
               Le rôle de la Commission nationale de l'Informatique et des Libertés est de préserver les libertés des
               personnes. Elle conseille et contrôle l’utilisation des données personnelles par les entreprises, les
               administrations et les associations.
            </p>
         </div>
         <div class="flex flex-col gap-(--spacing-2)">
            <h5>Pourquoi il faut attendre une réponse 1 mois ? ⏱</h5>
            <p
               style="color: var(--color-9); font-family: var(--body-font-family); font-weight: var(--font-weight-body); font-size: var(--font-size-body-md); line-height: var(--line-height-body); letter-spacing: var(--letter-spacing-body);">
               C'est le délai légal. Ça veut dire que la loi laisse 1 mois à la plateforme pour te répondre (c'est le
               Règlement Général sur la Protection des Données ou RGPD).
            </p>
         </div>
         <div class="flex flex-col gap-(--spacing-2)">
            <h5>C’est quoi une réponse incomplète ou fausse ? 📝</h5>
            <p
               style="color: var(--color-9); font-family: var(--body-font-family); font-weight: var(--font-weight-body); font-size: var(--font-size-body-md); line-height: var(--line-height-body); letter-spacing: var(--letter-spacing-body);">
               La plateforme n'a pas pris en compte toute ta demande ou bien sa réponse ne correspond pas à ce que tu as
               demandé.
            </p>
         </div>
      </div>
   </mat-dialog-content>
</div>
