<div class="bg-(--background-6) pt-(--spacing-5) pr-(--spacing-3) pb-(--spacing-5) pl-(--spacing-3)">
   <mat-dialog-content
      class="!flex flex-col gap-(--spacing-5) !pt-(--spacing-4) !pr-(--spacing-3) !pb-(--spacing-4) !pl-(--spacing-3)">
      <div class="flex flex-col gap-(--spacing-3)">
         <div class="flex flex-col gap-(--spacing-2)">
            <app-button-close link="/delete-content/reported-content" size="sm"
               style="position: absolute; top: 24px; right: 24px;" mat-dialog-close></app-button-close>
            <h5 [innerHTML]="'PROBLEMS.DELETE_CONTENT.RESULTS.REPORTED_CONTENT.TUTORIAL.P1.TITLE' | translate"></h5>
            <p style="color: var(--color-9); font-family: var(--body-font-family); font-weight: var(--font-weight-body); font-size: var(--font-size-body-md); line-height: var(--line-height-body); letter-spacing: var(--letter-spacing-body);"
               [innerHTML]="'PROBLEMS.DELETE_CONTENT.RESULTS.REPORTED_CONTENT.TUTORIAL.P1.DESCRIPTION' | translate"></p>
         </div>
         <div class="flex flex-col gap-(--spacing-2)">
            <h5 [innerHTML]="'PROBLEMS.DELETE_CONTENT.RESULTS.REPORTED_CONTENT.TUTORIAL.P2.TITLE' | translate"></h5>
            <p style="color: var(--color-9); font-family: var(--body-font-family); font-weight: var(--font-weight-body); font-size: var(--font-size-body-md); line-height: var(--line-height-body); letter-spacing: var(--letter-spacing-body);"
               [innerHTML]="'PROBLEMS.DELETE_CONTENT.RESULTS.REPORTED_CONTENT.TUTORIAL.P2.DESCRIPTION' | translate"></p>
         </div>
         <div class="flex flex-col gap-(--spacing-2)">
            <h5 [innerHTML]="'PROBLEMS.DELETE_CONTENT.RESULTS.REPORTED_CONTENT.TUTORIAL.P3.TITLE' | translate"></h5>
            <p style="color: var(--color-9); font-family: var(--body-font-family); font-weight: var(--font-weight-body); font-size: var(--font-size-body-md); line-height: var(--line-height-body); letter-spacing: var(--letter-spacing-body);"
               [innerHTML]="'PROBLEMS.DELETE_CONTENT.RESULTS.REPORTED_CONTENT.TUTORIAL.P3.DESCRIPTION' | translate"></p>
         </div>
      </div>
   </mat-dialog-content>
</div>
