<main id="home-container" role="main" aria-labelledby="app-info-title">
   <div class="home-greeting">
      <h1
      class="!text-(--color-1)"
      [innerHTML]="'HOME.GREETING' | translate"
      ></h1>
   </div>
   
   <!-- Composant home-card -->
   <app-home-card></app-home-card>
   @if (page()?.type == ComponentType.PAGE_HOME) {
      @if (sortedChildren.length > 0) {
         <div class="children-container w-full">
            @for (child of sortedChildren; track $index) {
               @switch (child.type) {
                  @case (ComponentType.CARD_7) {
                     <app-card-7 [data]="child"></app-card-7>
                  }
               }
            }
         </div>
      }
   }
   <div class="app-info w-full flex flex-col gap-(--spacing-3)">
      <h5 id="app-info-title">{{ "HOME.APP_INFO_TITLE" | translate }}</h5>
      <div id="app-info-parent">
         <nav
            id="app-info-container"
            role="navigation"
            [attr.aria-label]="'HOME.APP_INFO_TITLE' | translate"
         >
            <ul role="list">
               <li>
                  <a
                     id="appearance-item"
                     class="app-info-item"
                     routerLink="/user-app-config"
                     role="button"
                     tabindex="0"
                     [attr.aria-label]="'HOME.APPEARANCE' | translate"
                     (keydown)="onKeyDown($event, '/user-app-config')"
                  >
                     <mat-icon
                        [svgIcon]="
                           isDarkMode() ? 'icon-sun-dark' : 'icon-sun-light'
                        "
                        aria-hidden="true"
                        focusable="false"
                     ></mat-icon>
                     <span>{{ "HOME.APPEARANCE" | translate }}</span>
                     <mat-icon
                        class="arrow"
                        [svgIcon]="
                           isDarkMode()
                              ? 'chevron24x24-icon-dark'
                              : 'chevron24x24-icon-light'
                        "
                        aria-hidden="true"
                        focusable="false"
                     ></mat-icon>
                  </a>
               </li>
               <!-- Changer icone
               <li>
                  @if (shouldShowChangeIcon) {
                  <a
                     id="change-icon-item"
                     class="app-info-item"
                     routerLink="/changer-icone"
                     role="button"
                     tabindex="0"
                     [attr.aria-label]="'HOME.CHANGE_ICON' | translate"
                     (keydown)="onKeyDown($event, '/changer-icone')"
                  >
                     <mat-icon
                        [svgIcon]="
                           isDarkMode() ? 'app-icon-dark' : 'app-icon-light'
                        "
                        aria-hidden="true"
                        focusable="false"
                     ></mat-icon>
                     <span>{{ "HOME.CHANGE_ICON" | translate }}</span>
                     <mat-icon
                        class="arrow"
                        [svgIcon]="
                           isDarkMode()
                              ? 'chevron24x24-icon-dark'
                              : 'chevron24x24-icon-light'
                        "
                        aria-hidden="true"
                        focusable="false"
                     ></mat-icon>
                  </a>
                  }
               </li>
               -->
               <li>
                  <button
                     id="resources-item"
                     class="app-info-item"
                     type="button"
                     [attr.aria-label]="'HOME.RESOURCES' | translate"
                     (click)="navigateToResources()"
                     (keydown)="onKeyDownButton($event, 'resources')"
                  >
                     <mat-icon
                        [svgIcon]="
                           isDarkMode() ? 'icon-file-dark' : 'icon-file-light'
                        "
                        aria-hidden="true"
                        focusable="false"
                     ></mat-icon>
                     <span>{{ "HOME.RESOURCES" | translate }}</span>
                     <mat-icon
                        class="arrow"
                        [svgIcon]="
                           isDarkMode()
                              ? 'chevron24x24-icon-dark'
                              : 'chevron24x24-icon-light'
                        "
                        aria-hidden="true"
                        focusable="false"
                     ></mat-icon>
                  </button>
               </li>
               <li>
                  <a
                     id="what-is-app-item"
                     class="app-info-item"
                     routerLink="/app-info"
                     role="button"
                     tabindex="0"
                     [attr.aria-label]="'HOME.WHAT_IS_APP' | translate"
                  >
                     <mat-icon
                        [svgIcon]="
                           isDarkMode() ? 'icon-what-dark' : 'icon-what-light'
                        "
                        aria-hidden="true"
                        focusable="false"
                     ></mat-icon>
                     <span>{{ "HOME.WHAT_IS_APP" | translate }}</span>
                     <mat-icon
                        class="arrow"
                        [svgIcon]="
                           isDarkMode()
                              ? 'chevron24x24-icon-dark'
                              : 'chevron24x24-icon-light'
                        "
                        aria-hidden="true"
                        focusable="false"
                     ></mat-icon>
                  </a>
               </li>
               <li>
                  <button
                     id="rights-item"
                     class="app-info-item"
                     type="button"
                     [attr.aria-label]="'HOME.RIGHTS' | translate"
                     (click)="navigateToRights()"
                     (keydown)="onKeyDownButton($event, 'rights')"
                  >
                     <mat-icon
                        [svgIcon]="
                           isDarkMode()
                              ? 'icon-rights-dark'
                              : 'icon-rights-light'
                        "
                        aria-hidden="true"
                        focusable="false"
                     ></mat-icon>
                     <span>{{ "HOME.RIGHTS" | translate }}</span>
                     <mat-icon
                        class="arrow"
                        [svgIcon]="
                           isDarkMode()
                              ? 'chevron24x24-icon-dark'
                              : 'chevron24x24-icon-light'
                        "
                        aria-hidden="true"
                        focusable="false"
                     ></mat-icon>
                  </button>
               </li>
               <li>
                  <button
                     id="accessibility-item"
                     class="app-info-item"
                     type="button"
                     [attr.aria-label]="'HOME.ACCESSIBILITY' | translate"
                     (click)="navigateToAccessibility()"
                     (keydown)="onKeyDownButton($event, 'accessibility')"
                  >
                     <mat-icon
                        [svgIcon]="
                           isDarkMode() ? 'icon-file-dark' : 'icon-file-light'
                        "
                        aria-hidden="true"
                        focusable="false"
                     ></mat-icon>
                     <span>{{ "HOME.ACCESSIBILITY" | translate }}</span>
                     <mat-icon
                        class="arrow"
                        [svgIcon]="
                           isDarkMode()
                              ? 'chevron24x24-icon-dark'
                              : 'chevron24x24-icon-light'
                        "
                        aria-hidden="true"
                        focusable="false"
                     ></mat-icon>
                  </button>
               </li>
               <li>
                  <button
                     id="tutorial-item"
                     class="app-info-item"
                     type="button"
                     [attr.aria-label]="'HOME.TUTORIAL' | translate"
                     (click)="navigateToTutorial()"
                     (keydown)="onKeyDownButton($event, 'tutorial')"
                  >
                     <mat-icon
                        [svgIcon]="
                           isDarkMode() ? 'icon-play-dark' : 'icon-play-light'
                        "
                        aria-hidden="true"
                        focusable="false"
                     ></mat-icon>
                     <span>{{ "HOME.TUTORIAL" | translate }}</span>
                  </button>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</main>
