<div class="user-rights-container" role="main">
   <div class="back-btn">
      <app-button-back size="md"></app-button-back>
   </div>
   <div class="user-rights-content">
      <h2 class="user-rights-title">
         {{ "HOME.USER_RIGHTS.TITLE" | translate }}
      </h2>
      <div class="user-rights-text-title flex flex-col gap-(--spacing-3)">
         <p>{{ "HOME.USER_RIGHTS.INTRO.PARAGRAPH_1" | translate }}</p>
         <p>{{ "HOME.USER_RIGHTS.INTRO.PARAGRAPH_2" | translate }}</p>
      </div>
   </div>
   <div class="user-rights-cards-container">
      <div class="user-rights-card-incognito flex flex-col gap-(--spacing-4)">
         <div class="app-info-image">
            <img
               src="assets/images/user-rights-incognito.svg"
               alt=""
               class="illustration"
            />
         </div>
         <div
            class="user-rights-card-incognito-content flex flex-col gap-(--spacing-3)"
         >
            <h5 class="user-rights-card-incognito-title">
               <span
                  [innerHTML]="
                     'HOME.USER_RIGHTS.CARDS.INCOGNITO.TITLE' | translate
                  "
               ></span>
            </h5>
            <p
               class="user-rights-card-incognito-text"
               [innerHTML]="
                  'HOME.USER_RIGHTS.CARDS.INCOGNITO.PARAGRAPH_1' | translate
               "
            ></p>
            <p
               [innerHTML]="
                  'HOME.USER_RIGHTS.CARDS.INCOGNITO.PARAGRAPH_2' | translate
               "
            ></p>
         </div>
      </div>
      <div class="user-rights-card-data-info flex flex-col gap-(--spacing-4)">
         <div class="app-info-image">
            <img
               src="assets/images/data-info.svg"
               alt=""
               class="illustration"
            />
         </div>
         <div
            class="user-rights-card-data-info-content flex flex-col gap-(--spacing-3)"
         >
            <h5 class="user-rights-card-data-info-title">
               <span
                  [innerHTML]="
                     'HOME.USER_RIGHTS.CARDS.DATA_INFO.TITLE' | translate
                  "
               ></span>
            </h5>
            <p
               class="user-rights-card-data-info-text"
               [innerHTML]="
                  'HOME.USER_RIGHTS.CARDS.DATA_INFO.PARAGRAPH' | translate
               "
            ></p>
         </div>
      </div>
      <div
         class="user-rights-card-right-to-object flex flex-col gap-(--spacing-4)"
      >
         <div class="app-info-image">
            <img
               src="assets/images/right-to-object.svg"
               alt=""
               class="illustration"
            />
         </div>
         <div
            class="user-rights-card-right-to-object-content flex flex-col gap-(--spacing-3)"
         >
            <h5 class="user-rights-card-right-to-object-title">
               <span
                  [innerHTML]="
                     'HOME.USER_RIGHTS.CARDS.RIGHT_TO_OBJECT.TITLE' | translate
                  "
               ></span>
            </h5>
            <p
               class="user-rights-card-right-to-object-text"
               [innerHTML]="
                  'HOME.USER_RIGHTS.CARDS.RIGHT_TO_OBJECT.PARAGRAPH' | translate
               "
            ></p>
         </div>
      </div>
      <div
         class="user-rights-card-right-to-portability flex flex-col gap-(--spacing-4)"
      >
         <div class="app-info-image">
            <img
               src="assets/images/right-to-portability.svg"
               alt=""
               class="illustration"
            />
         </div>
         <div
            class="user-rights-card-right-to-portability-content flex flex-col gap-(--spacing-3)"
         >
            <h5 class="user-rights-card-right-to-portability-title">
               <span
                  [innerHTML]="
                     'HOME.USER_RIGHTS.CARDS.PORTABILITY.TITLE' | translate
                  "
               ></span>
            </h5>
            <p
               class="user-rights-card-right-to-portability-text"
               [innerHTML]="
                  'HOME.USER_RIGHTS.CARDS.PORTABILITY.PARAGRAPH_1' | translate
               "
            ></p>
            <p
               [innerHTML]="
                  'HOME.USER_RIGHTS.CARDS.PORTABILITY.PARAGRAPH_2' | translate
               "
            ></p>
         </div>
      </div>
   </div>
</div>
