.card-container {
   .title {
      padding: var(--spacing-2) var(--spacing-3);
      color: var(--color-8);
   }

   .image {
      border: 1px solid var(--color-33);
      border-radius: var(--border-radius-2);
   }
}
