<div class="flex flex-col card-container">
   @if ((data() | pageTranslation)?.firstTitle) {
   <h6
      class="title ckeditor-content"
      [innerHTML]="
         (data() | pageTranslation)?.firstTitle!
            | translate
            | replaceStringDark
               : 'hsl(258, 88%, 40%)'
               : 'var(--color-primary-400)'
            | safeHtml
      "
   ></h6>
   }
   <img
      class="image"
      [src]="
         (data() | pageTranslation)?.image ||
         (data() | pageTranslation)?.staticImage
      "
      alt=""
      aria-hidden="true"
   />
</div>
