<div class="config-container" role="main">
   <button
      mat-icon-button
      class="back-btn"
      routerLink="/home"
      aria-label="Retour"
      title="Retour"
   >
      <mat-icon>arrow_back</mat-icon>
      <span class="sr-only">Retour</span>
   </button>

   <h2 id="config-title">Changer l'icône de l'app</h2>
   <div id="config-description">Choisis ton icône préférée !</div>

   <div class="icon-selector-block">
      <div class="icon-grid">
         <div class="icon-container" [class.selected]="isIconSelected('1')">
            <div
               class="icon-item"
               (click)="setIcon('1')"
               role="button"
               tabindex="0"
            >
               <img
                  src="/icons/Icone-FantomApp-1-192x192.png"
                  alt=""
                  aria-hidden="true"
                  class="icon-image"
               />
            </div>
            @if (isIconSelected('1')) {
            <div class="icon-title"><mat-icon>check</mat-icon></div>
            }
         </div>

         <div class="icon-container" [class.selected]="isIconSelected('2')">
            <div
               class="icon-item"
               (click)="setIcon('2')"
               role="button"
               tabindex="0"
            >
               <img
                  src="/icons/Icone-FantomApp-2-192x192.png"
                  alt=""
                  aria-hidden="true"
                  class="icon-image"
               />
            </div>
            @if (isIconSelected('2')) {
            <div class="icon-title"><mat-icon>check</mat-icon></div>
            }
         </div>

         <div class="icon-container" [class.selected]="isIconSelected('3')">
            <div
               class="icon-item"
               (click)="setIcon('3')"
               role="button"
               tabindex="0"
            >
               <img
                  src="/icons/Icone-FantomApp-3-192x192.png"
                  alt=""
                  aria-hidden="true"
                  class="icon-image"
               />
            </div>
            @if (isIconSelected('3')) {
            <div class="icon-title"><mat-icon>check</mat-icon></div>
            }
         </div>

         <div class="icon-container" [class.selected]="isIconSelected('4')">
            <div
               class="icon-item"
               (click)="setIcon('4')"
               role="button"
               tabindex="0"
            >
               <img
                  src="/icons/Icone-FantomApp-4-192x192.png"
                  alt=""
                  aria-hidden="true"
                  class="icon-image"
               />
            </div>
            @if (isIconSelected('4')) {
            <div class="icon-title"><mat-icon>check</mat-icon></div>
            }
         </div>
      </div>
   </div>
</div>
