.card-container {
   position: relative;
   gap: var(--spacing-2);
}

.card-title {
   color: var(--color-8);
   padding-left: var(--spacing-3);
   font-size: var(--font-size-h5);
   line-height: var(--line-height-h5);
}

.card-description {
   background-color: var(--background-7);
   padding: var(--spacing-3);
   border-radius: var(--border-radius-3);
   color: var(--color-10);
   position: relative;
   z-index: 2;
}

.card-stretched-link::after {
   content: "";
   position: absolute;
   inset: 0;
   z-index: 1;
}
