.tools-container {
   gap: var(--spacing-5);
   padding: var(--spacing-3);
   padding-top: var(--spacing-6);
   padding-bottom: 166px;
}

.tools-title {
   padding-left: var(--spacing-3);
}

.tools-items {
   gap: var(--spacing-5);
}

.tools-item {
   padding: 22px 4px;
   gap: 19px;
   background-size: cover;
   border: 4px solid var(--background-4);
   border-radius: var(--border-radius-4);
   box-shadow: var(--shadow-1);
   position: relative;
}

.tools-item-bg {
   position: absolute;
   inset: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: var(--border-radius-4);
   pointer-events: none;
   transition: opacity 0.2s;
   z-index: 0;
}

// Styles communs pour les pseudo-éléments hover
#password-check-tool::before,
#blur-image-tool::before,
#visibility-check-tool::before {
   content: "";
   position: absolute;
   inset: 0;
   border-radius: var(--border-radius-4);
   opacity: 0;
   transition: opacity 0.2s;
   pointer-events: none;
   z-index: 0;
}

#password-check-tool::before {
   background: url("../../../assets/images/Property-hover.png") center/cover;
}

#blur-image-tool::before {
   background: url("../../../assets/images/blur-hover-.png") center/cover;
}

#visibility-check-tool::before {
   background: url("../../../assets/images/visibility-hover.png") center/cover;
}

#password-check-tool::after,
#blur-image-tool::after,
#visibility-check-tool::after {
   content: "";
   position: absolute;
   inset: 0;
   background: url("/assets/images/Property-hover.png") center/cover;
   border-radius: var(--border-radius-3);
   opacity: 0;
   transition: opacity 0.2s;
   pointer-events: none;
   z-index: 0;
}

// Hover commun
#password-check-tool:hover::before,
#password-check-tool:active::before,
#blur-image-tool:hover::before,
#blur-image-tool:active::before,
#visibility-check-tool:hover::before,
#visibility-check-tool:active::before,
#password-check-tool:hover::after,
#password-check-tool:active::after,
#blur-image-tool:hover::after,
#blur-image-tool:active::after,
#visibility-check-tool:hover::after,
#visibility-check-tool:active::after {
   opacity: 1;
}

#password-check-tool:hover .tools-item-bg,
#password-check-tool:active .tools-item-bg,
#blur-image-tool:hover .tools-item-bg,
#blur-image-tool:active .tools-item-bg,
#visibility-check-tool:hover .tools-item-bg,
#visibility-check-tool:active .tools-item-bg {
   opacity: 0;
}

.tools-item-body {
   gap: var(--spacing-2);
   position: relative;
   z-index: 2;
}

.tools-item-img {
   min-width: 116px;
   max-width: 116px;
   height: 92px;
   object-fit: contain;
   position: relative;
   z-index: 2;
}

.tools-item-text {
   gap: var(--spacing-1);
   position: relative;
   z-index: 2;
}

.tools-item > div:last-child {
   position: relative;
   z-index: 2;
}

.tools-item-title {
   color: var(--color-neutral-light-background-1);
}

.tools-item-description {
   color: var(--color-neutral-light-background-3);
}
