.card-contaner {
   ::ng-deep {
      ul {
         list-style: disc !important;
         margin-left: 2rem;
      }

      a {
         color: var(--color-8);
         text-decoration: underline;
      }
   }
}
