<div class="card-container flex flex-col">
   @if ((data() | pageTranslation)?.firstTitle) {
   <span
      class="card-title ckeditor-content"
      [innerHTML]="
         (data() | pageTranslation)?.firstTitle!
            | translate
            | replaceStringDark
               : 'hsl(258, 88%, 40%)'
               : 'var(--color-primary-400)'
            | safeHtml
      "
   ></span>
   }
   <div
      class="card-item-container flex"
      [class.card-item-container--zoom]="shouldUseZoomLayout()"
   >
      <img
         class="card-image"
         [class.card-image--zoom]="shouldUseZoomLayout()"
         [src]="
            (data() | pageTranslation)?.image ||
            (data() | pageTranslation)?.staticImage
         "
         alt=""
         aria-hidden="true"
      />
      <div class="flex justify-between items-center w-full min-w-0 flex-1">
         <div class="flex flex-col min-w-0 flex-1">
            @if ((data() | pageTranslation)?.secondTitle) {
            <h5
               class="ckeditor-content"
               [innerHTML]="
                  (data() | pageTranslation)?.secondTitle!
                     | translate
                     | replaceStringDark
                        : 'hsl(258, 88%, 40%)'
                        : 'var(--color-primary-400)'
                     | safeHtml
               "
               role="heading"
               aria-level="2"
            ></h5>
            } @if ((data() | pageTranslation)?.description) {
            <span
               class="card-description ckeditor-content"
               [innerHTML]="
                  (data() | pageTranslation)?.description!
                     | translate
                     | replaceStringDark
                        : 'hsl(258, 88%, 40%)'
                        : 'var(--color-primary-400)'
                     | safeHtml
               "
            ></span>
            }
         </div>
         <div>
            <mat-icon
               [svgIcon]="
                  isDarkMode()
                     ? 'chevron24x24-icon-dark'
                     : 'chevron24x24-icon-light'
               "
            ></mat-icon>
         </div>
      </div>
   </div>
</div>
