.card-container {
   gap: var(--spacing-1);
}

.card-title {
   color: var(--color-1);
   font-weight: var(--font-weight-title);
   font-size: var(--font-size-body-xs);
}

.card-image {
   width: 95px;
   height: 108px;
   border-radius: var(--border-radius-2);
   box-shadow: var(--shadow-1);
}

.card-item-container {
   background-color: var(--background-4);
   padding: var(--spacing-1);
   border-radius: var(--border-radius-2);
   gap: var(--spacing-2);
   box-shadow: var(--shadow-1);
}

.card-description {
   font-size: var(--font-size-body-sm);
   color: var(--color-9);
}
