<div class="card-container flex flex-col">
   <span class="card-title" [innerHTML]="(data() | pageTranslation)?.firstTitle | safeHtml"></span>
   <div class="card-item-container flex">
      <img class="card-image" [src]="(data() | pageTranslation)?.image" alt="image" />
      <div class="flex justify-between items-center w-full">
         <div>
            <h5 [innerHTML]="(data() | pageTranslation)?.secondTitle | safeHtml"></h5>
            <span [innerHTML]="(data() | pageTranslation)?.description | safeHtml"></span>
         </div>
         <div>
            <mat-icon [svgIcon]="isDarkMode() ? 'chevron24x24-icon-dark' : 'chevron24x24-icon-light'"></mat-icon>
         </div>
      </div>
   </div>
</div>
