@if (showTutorial) {
<div
   @fadeInWithDelay
   (@fadeInWithDelay.done)="onFadeInDone()"
   class="absolute h-screen w-full max-w-(--max-width-viewport) flex flex-col justify-between p-(--spacing-3) pt-[43px] pb-[64px] z-1000 blurred-backdrop"
>
   <div class="flex flex-col gap-[20px]">
      @if (showBox1) {
      <div
         @fromBottomRight
         (@fromBottomRight.done)="onBox1Done()"
         class="speech-box-1 flex flex-col gap-(--spacing-3) p-(--spacing-4) rounded-(--border-radius-3) bg-(--background-4)"
      >
         <div class="flex items-center gap-(--spacing-3)">
            <span
               [innerHTML]="'PROBLEMS.HACKING.TUTORIAL.P1.EMOJI' | translate"
            ></span>
            <p
               [innerHTML]="'PROBLEMS.HACKING.TUTORIAL.P1.CONTENT' | translate"
            ></p>
         </div>
         <div class="flex items-center gap-(--spacing-3)">
            <span
               [innerHTML]="'PROBLEMS.HACKING.TUTORIAL.P2.EMOJI' | translate"
            ></span>
            <p
               [innerHTML]="'PROBLEMS.HACKING.TUTORIAL.P2.CONTENT' | translate"
            ></p>
         </div>
         <div class="flex items-center gap-(--spacing-3)">
            <span
               [innerHTML]="'PROBLEMS.HACKING.TUTORIAL.P3.EMOJI' | translate"
            ></span>
            <p
               [innerHTML]="'PROBLEMS.HACKING.TUTORIAL.P3.CONTENT' | translate"
            ></p>
         </div>
         <div class="flex items-center gap-(--spacing-3)">
            <span
               [innerHTML]="'PROBLEMS.HACKING.TUTORIAL.P4.EMOJI' | translate"
            ></span>
            <p
               [innerHTML]="'PROBLEMS.HACKING.TUTORIAL.P4.CONTENT' | translate"
            ></p>
         </div>
      </div>
      } @if (showBox2) {
      <div
         @fromBottomLeft
         class="speech-box-2 p-(--spacing-3) rounded-(--border-radius-3) bg-(--color-primary-100) text-(--color-primary-800)"
      >
         <p
            class="pl-(--spacing-3) pr-(--spacing-3)"
            [innerHTML]="'PROBLEMS.HACKING.TUTORIAL.P5.CONTENT' | translate"
         ></p>
      </div>
      }
   </div>
   <div>
      @if (showBox3) {
      <app-button
         #closeTutorialButton
         @fadeInBtnWithDelay
         (@fadeInBtnWithDelay.done)="onButtonAnimationDone()"
         variant="primary"
         [label]="'COMMON.NEXT' | translate"
         (click)="onCloseTutorial()"
      ></app-button>
      }
   </div>
</div>
}
<div class="hacking-container" [attr.inert]="showTutorial ? 'true' : null">
   <div class="fixed bg-(image:--background-31) h-[110px] w-full z-100"></div>
   <div class="header flex flex-col relative z-101">
      <app-button-back class="fixed top-[16px] z-103"></app-button-back>
      <div class="flex justify-end z-102">
         <img
            src="assets/images/hacking-picto.png"
            alt="image"
            class="!w-[74px] !h-[77px] object-contain"
         />
      </div>
      <div class="details flex flex-col">
         <h3>{{ "PROBLEMS.HACKING.TITLE" | translate }}</h3>
         <p
            class="transition-all duration-500 ease-in-out"
            [class.max-h-0]="currentStep !== 1"
            [class.opacity-0]="currentStep !== 1"
            [class.max-h-40]="currentStep === 1"
            [class.opacity-100]="currentStep === 1"
         >
            {{ "PROBLEMS.HACKING.DESCRIPTION" | translate }}
         </p>
      </div>
   </div>
   <form class="questions-container flex flex-col" [formGroup]="formGroup">
      @if (totalSteps > 1) {
      <app-stepper
         [currentStep]="currentStep"
         [totalSteps]="totalSteps"
      ></app-stepper>
      }
      <div class="sections flex flex-col">
         <h4 class="text-(--color-19)" aria-hidden="true">
            {{ currentQuestion.title | translate }}
         </h4>
         <div class="section-items flex flex-col">
            @for (section of currentQuestion.sections; track section.name) {
            <div class="section-item flex flex-col">
               @if (section.title) {
               <div class="font-[600] text-(--color-8)">
                  {{ section.title | translate }}
               </div>
               }
               <fieldset>
                  @if (section.title) {
                  <legend class="sr-only">{{ section.title | translate }}</legend>
                  } @else {
                     <legend class="sr-only">{{ currentQuestion.title | translate }}</legend>
                  }
                  <mat-radio-group
                     [formControlName]="section.name"
                     [name]="section.name"
                     class="answers flex flex-col"
                  >
                     @for (answer of section.answers; track $index) {
                     <mat-radio-button
                        [disableRipple]="true"
                        [value]="answer.value"
                        class="answer flex items-center cursor-pointer"
                        (click)="selectAnswer(section.name, answer.value)"
                        (keydown.enter)="
                           selectAnswer(section.name, answer.value);
                           $event.preventDefault()
                        "
                        (keydown.space)="
                           selectAnswer(section.name, answer.value);
                           $event.preventDefault()
                        "
                     >
                        <span
                           class="radio-title"
                           [innerHTML]="answer.title | translate"
                        ></span>
                        @if (answer.description) {
                        <span class="radio-description ml-1">{{
                           answer.description | translate
                        }}</span>
                        }
                     </mat-radio-button>
                     }
                  </mat-radio-group>
               </fieldset>
            </div>
            }
         </div>
      </div>
   </form>
   <div
      class="controls fixed max-w-(--max-width-viewport) bottom-0 w-full flex"
   >
      @if (formGroup.value.have_access != null) {
      <app-button
         [label]="'COMMON.NEXT' | translate"
         variant="primary"
         [iconAfterLabel]="{ name: 'arrow24x24-icon' }"
         (click)="onClickResults()"
         class="w-full"
      ></app-button>
      }
   </div>
</div>
