.prompt-update-wrapper {
  background-color: var(--color-neutral-light-background-4);
  color: var(--color-neutral-light-content-1);
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body-md);
  line-height: var(--line-height-body);
  letter-spacing: var(--letter-spacing-body);
}

.prompt-update-title-wrapper {
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body-md);
  line-height: var(--line-height-body);
  letter-spacing: var(--letter-spacing-body);
}

.prompt-update-content-wrapper {
  background-color: var(--color-neutral-light-background-4);
  color: var(--color-neutral-light-content-1);
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body-md);
  line-height: var(--line-height-body);
  letter-spacing: var(--letter-spacing-body);
    .prompt-update-content-line {
      p span {
        display: block;
        margin: 5px;
      }
    }
}

.prompt-update-actions-wrapper {
  
    .mat-mdc-button {
      font-family: var(--heading-font-family);
      font-weight: var(--font-weight-body);
      font-size: var(--font-size-body-md);
      line-height: var(--line-height-body);
      letter-spacing: var(--letter-spacing-body);
    }
    .btn-yes {
      background-color: var(--color-neutral-light-background-4);
      color: var(--color-neutral-light-content-1);
    }
    .btn-no {
      background-color: var(--color-neutral-light-background-4);
      color: var(--color-neutral-light-content-1);
    }
}

.mat-button.cdk-keyboard-focused:not([class*=mat-elevation-z]){
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5) !important;
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: #1212ff;
}
