<div class="no-access-recommendations-container">
   <div class="fixed bg-(image:--background-31) h-[110px] w-full z-100"></div>
   <div class="header flex flex-col relative z-101">
      <app-button-back class="fixed top-[16px] z-103"></app-button-back>
      <div class="flex justify-end z-102">
         <img src="assets/images/no-access-picto.png" alt="image" class="!w-[60px] !h-[74px] object-contain" />
      </div>
      <div class="details flex flex-col">
         <h3>{{ "PROBLEMS.HACKING.RESULTS.NO_ACCESS.TITLE" | translate }}</h3>
      </div>
   </div>
   <div class="content flex flex-col gap-(--spacing-4)">
      <app-card-13 [data]="card_13"></app-card-13>
      <app-card-16 [data]="card_16"></app-card-16>
   </div>
</div>
