.image-container {
   border: 4px dashed #937cff33;
   background: var(--background-25);
}

.ellipse-1 {
   position: absolute;
   width: 206px;
   height: 206px;
   top: 70px;
   left: 203px;
   background-color: var(--color-25);
   border-radius: 50%;
   filter: blur(99px);
}

.ellipse-2 {
   position: absolute;
   width: 284px;
   height: 284px;
   bottom: 10px;
   left: -22px;
   background-color: var(--color-26);
   border-radius: 50%;
   filter: blur(99px);
}

.actions {
   .action {
      width: 70px;
      height: 70px;
      gap: 2.96px;

      .image {
         width: 65px;
         height: 65px;
         padding: 5px;
      }

      .label {
         font-size: 9px;
         padding: 1.48px 7.4px;
         color: var(--color-neutral-light-background-1);
      }

      &.active {
         .image {
            border: 3px solid var(--color-neutral-light-background-1);
            border-radius: 11.85px;
            background: #faf9fb33;
         }

         .label {
            background-color: var(--color-neutral-light-background-1);
            border-radius: 14.81px;
            color: var(--color-neutral-light-content-1);
         }
      }
   }
}
.close-button {
   color: #10052e;
   background-color: white;
   font-family: Nunito;
   font-weight: 700;
   font-style: Bold;
   font-size: 18px;
   line-height: 28px;
   letter-spacing: 0%;
   text-align: center;
   height: 48px;
   &:focus-visible {
    outline: 2px solid var(--color-neutral-light-background-2) !important;
   }
}
::ng-deep .mat-mdc-menu-item:focus-visible {
   outline-offset: -4px !important;
}