<div class="flex flex-col h-full">
   <div class="flex-grow flex items-center justify-center overflow-hidden">
      <img [src]="(data() | pageTranslation)?.image || (data() | pageTranslation)?.staticImage" alt="screen-image"
         style="max-height: 100%; max-width: 100%; object-fit: contain;" />
   </div>
   <div class="flex flex-col" style="margin: 24px 32px;">
      <div class="flex" style="gap: 8px">
         <h6>{{index() + 1}}.</h6>
         <h6 [innerHTML]="(data() | pageTranslation)?.firstTitle"></h6>
      </div>
      <div [innerHTML]="(data() | pageTranslation)?.description"></div>
   </div>
</div>
