<div class="flex flex-col h-full card-container">
   <div
      class="flex-grow flex items-center justify-center overflow-hidden relative"
   >
      @if (index() > 0) {
      <button
         mat-fab
         [attr.aria-label]="'COMMON.PREVIOUS' | translate"
         class="previous-btn nav-btn"
         (click)="prev.emit()"
      >
         <mat-icon svgIcon="arrow24x24-icon" class="rotate-180"></mat-icon>
      </button>
      }
      <img
         [src]="
            (data() | pageTranslation)?.image ||
            (data() | pageTranslation)?.staticImage
         "
         alt=""
         aria-hidden="true"
         style="max-height: 100%; max-width: 100%; object-fit: contain; border-radius: var(--border-radius-1);"
      />
      @if (index() < maxIndex()) {
      <button
         mat-fab
         [attr.aria-label]="'COMMON.NEXT' | translate"
         class="next-btn nav-btn"
         (click)="next.emit()"
      >
         <mat-icon svgIcon="arrow24x24-icon"></mat-icon>
      </button>
      }
   </div>
   <div class="flex flex-col" class="card-11-description">
      <div class="flex" style="gap: 8px">
         <h6 role="heading" aria-level="1">{{ index() + 1 }}.</h6>
         @if ((data() | pageTranslation)?.firstTitle) {
         <h6
            role="heading"
            aria-level="1"
            class="ckeditor-content"
            [innerHTML]="
               (data() | pageTranslation)?.firstTitle!
                  | translate
                  | replaceStringDark
                     : 'hsl(258, 88%, 40%)'
                     : 'var(--color-primary-400)'
                  | safeHtml
            "
         ></h6>
         }
      </div>
      @if ((data() | pageTranslation)?.description) {
      <div
         class="ckeditor-content"
         [innerHTML]="
            (data() | pageTranslation)?.description!
               | translate
               | replaceStringDark
                  : 'hsl(258, 88%, 40%)'
                  : 'var(--color-primary-400)'
               | safeHtml
         "
      ></div>
      }
   </div>
</div>
