
.card-11-description {
   margin: 24px 32px 48px 32px;
}

.card-11-img {
   max-height: 80%;
}

.nav-btn {
   padding: calc(var(--spacing) * 2);
   background-color: var(--background-12);
   border: var(--border) var(--color-13);
   border-radius: calc(infinity * 1px);
   z-index: 10;
   position: absolute;
   color: var(--color-14);
   width: 44px;
   height: 44px;
}

.previous-btn {
   left: calc(var(--spacing) * 2);
}

.next-btn {
   right: calc(var(--spacing) * 2);
}
