<div class="flex flex-col h-full">
   <div class="flex-grow flex items-center justify-center overflow-hidden relative">
      @if (index() > 0) {
      <button mat-fab aria-label="Previous" class="previous-btn nav-btn" (click)="prev.emit()">
         <mat-icon svgIcon="arrow24x24-icon" class="rotate-180"></mat-icon>
      </button>
      }
      <img [src]="(data() | pageTranslation)?.image || (data() | pageTranslation)?.staticImage" alt="screen-image"
         style="max-height: 100%; max-width: 100%; object-fit: contain;" />
      @if (index() < maxIndex()) {
      <button mat-fab aria-label="Next" class="next-btn nav-btn" (click)="next.emit()">
         <mat-icon svgIcon="arrow24x24-icon"></mat-icon>
      </button>
      }
   </div>
   <div class="flex flex-col" class="card-11-description">
      <div class="flex" style="gap: 8px">
         <h6>{{index() + 1}}.</h6>
         <h6 [innerHTML]="(data() | pageTranslation)?.firstTitle | safeHtml"></h6>
      </div>
      <div [innerHTML]="(data() | pageTranslation)?.description | safeHtml"></div>
   </div>

</div>
