@switch(page()?.type) { @case (ComponentType.PAGE_1) {
<div class="problems-container flex flex-col page-1 relative">
   <div class="absolute problems-container-bg h-full w-full z-100"></div>
   <div class="problems-title-container z-101">
      @if ((page() | pageTranslation)?.firstTitle) {
      <h1
         class="problems-title"
         [innerHTML]="
            (page() | pageTranslation)?.firstTitle! | translate | safeHtml
         "
      ></h1>
      }
   </div>
   <div class="problems-items-container flex flex-col z-102">
      <a routerLink="/delete-content">
         <app-card-1 [data]="deleteContentProblem"></app-card-1>
      </a>
      <a routerLink="/hacking">
         <app-card-1 [data]="hackingProblem"></app-card-1>
      </a>
      @for (problem of sortedChildren; track $index) { @switch (problem.type) {
      @case (ComponentType.CARD_1) {
      <a [routerLink]="problem.nextId ? `/problems/${problem.nextId}` : null">
         <app-card-1 [data]="problem"></app-card-1>
      </a>
      } @case (ComponentType.CARD_2) {
      <a [routerLink]="problem.nextId ? `/problems/${problem.nextId}` : null">
         <app-card-2 [data]="problem"></app-card-2>
      </a>
      } @case (ComponentType.DIVIDER) {
      <app-divider />
      } } }
   </div>
</div>
} @case (ComponentType.PAGE_2) {
<div class="problems-container flex flex-col page-2">
   <div class="fixed bg-(image:--background-31) h-[110px] w-full z-100"></div>
   <img
      [src]="(page() | pageTranslation)?.image"
      alt=""
      aria-hidden="true"
      class="image-cover z-101"
   />
   <app-button-back
      class="fixed top-(--spacing-3) pl-(--spacing-5) z-102"
   ></app-button-back>
   @if ((page() | pageTranslation)?.firstTitle) {
   <h3
      class="problems-title"
      [innerHTML]="
         (page() | pageTranslation)?.firstTitle! | translate | safeHtml
      "
   ></h3>
   }
   <div class="problems-items-container flex flex-col">
      @for (problem of sortedChildren; track $index) { @switch (problem.type) {
      @case (ComponentType.CARD_3) {
      <a [routerLink]="problem.nextId ? `/problems/${problem.nextId}` : null">
         <app-card-3 [data]="problem"></app-card-3>
      </a>
      } @case (ComponentType.CARD_4) {
      <a [routerLink]="problem.nextId ? `/problems/${problem.nextId}` : null">
         <app-card-4 [data]="problem"></app-card-4>
      </a>
      } @case (ComponentType.CARD_5) {
      <a [routerLink]="problem.nextId ? `/problems/${problem.nextId}` : null">
         <app-card-5 [data]="problem"></app-card-5>
      </a>
      } @case (ComponentType.CARD_6) {
      <a [routerLink]="problem.nextId ? `/problems/${problem.nextId}` : null">
         <app-card-6 [data]="problem"></app-card-6>
      </a>
      } @case (ComponentType.CARD_14) {
      <a [routerLink]="problem.nextId ? `/problems/${problem.nextId}` : null">
         <app-card-14 [data]="problem"></app-card-14>
      </a>
      } @case (ComponentType.DIVIDER) {
      <app-divider />
      } } }
   </div>
</div>
} }
