.page-1 {
   padding-bottom: 166px;
   background: var(--background-33);

   .problems-title-container {
      position: relative;
      min-height: 210px;
      height: auto;
   }

   .problems-container-bg {
      background-image: url("../../../assets/images/problems-bg-1.png");
      background-size: contain;
      background-repeat: no-repeat;
      // top: -140px;
      // right: -130px;
   }

   .problems-title {
      min-height: 80px;
      height: auto;
      margin-top: var(--spacing-6);
      padding: 0 var(--spacing-3);
      padding-right: 100px;
   }

   .problems-description {
      padding: 0 var(--spacing-5) var(--spacing-5) var(--spacing-5);
   }

   .problems-items-container {
      gap: var(--spacing-5);
      padding: 0 var(--spacing-3);
   }
}

.page-2 {
   background-color: var(--background-6);
   min-height: 100vh;
   padding-bottom: var(--spacing-5);

   .problems-title {
      padding: 0 var(--spacing-5) var(--spacing-5) var(--spacing-5);
      font-size: var(--font-size-h3);
      line-height: var(--line-height-h3);
   }

   .image-cover {
      min-height: 200px;
      height: auto;
      max-height: none;
      object-fit: cover;
   }

   .problems-items-container {
      gap: var(--spacing-5);
      padding: 0 var(--spacing-3);
   }
}

@media ((min-width: 520px) and (max-width: 770px)) {
   .problems-container-bg {
      top: -70px;
   }

   .problems-title {
      padding-right: 140px !important;
   }
}
