:host {
   .sr-only {
      position: absolute !important;
      width: 1px !important;
      height: 1px !important;
      padding: 0 !important;
      margin: -1px !important;
      overflow: hidden !important;
      clip: rect(0, 0, 0, 0) !important;
      white-space: nowrap !important;
      border: 0 !important;
   }

   .config-container {
      position: relative;
      width: 100%;
      min-height: 100vh;
      padding: var(--spacing-5);
      display: flex;
      flex-direction: column;
   }

   .back-btn {
      margin-bottom: var(--spacing-4);
      width: fit-content;

      mat-icon {
         width: 24px;
         height: 24px;
         font-size: 24px;
      }
   }

   #config-description {
      font-family: var(--body-font-family);
      font-size: var(--font-size-body-md);
      margin-bottom: var(--spacing-4);
      color: var(--color-4)
   }

   .theme-list {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-2);
      width: 100%;
      max-width: 358px;
   }

   .theme-option {
      display: flex;
      align-items: center;
      border-radius: var(--border-radius-2);
      padding: var(--spacing-3);
      cursor: pointer;
      transition: all 0.2s ease;
      background-color: var(--background-2);

      // mat-radio-button {
      //    ::ng-deep {
      //       .mdc-radio__outer-circle {
      //          border-color: var(--color-primary-800) !important;
      //       }

      //       .mdc-radio__inner-circle {
      //          border-color: var(--color-primary-800) !important;
      //          background-color: var(--color-primary-800) !important;
      //       }
      //    }
      // }

      .theme-info {
         margin-left: var(--spacing-2);
         flex: 1;
      }

      .theme-title {
         font-family: var(--body-font-family);
         font-weight: var(--font-weight-title);
         font-size: var(--font-size-body-md);
         display: flex;
         align-items: center;
         gap: var(--spacing-2);
         color: var(--color-3);
      }

      .theme-desc {
         font-family: var(--body-font-family);
         font-weight: var(--font-weight-body);
         font-size: var(--font-size-body-sm);
         line-height: var(--line-height-body);
         letter-spacing: var(--letter-spacing-body);
         margin-top: var(--spacing-1);
         color: var(--color-5);
         width: 263px;
         height: 19px;
      }

      .emoji {
         font-size: var(--font-size-body-md);
      }

      &:hover,
      &.selected {
         background-color: var(--background-3);

         .theme-title {
            color: var(--color-neutral-light-content-1);
         }

         .theme-desc {
            color: var(--color-neutral-light-content-4);
         }
      }
   }
}
