<div class="config-container">
   <button mat-icon-button class="back-btn" routerLink="/home">
      <mat-icon>arrow_back</mat-icon>
   </button>
   <h2>{{ "USER_CONFIG_APP.TITLE" | translate }}</h2>
   <p>{{ "USER_CONFIG_APP.SUBTITLE" | translate }}</p>

   <div class="theme-list">
      <div
         *ngFor="let theme of themes"
         class="theme-option"
         [class.selected]="selectedTheme?.name === theme.name"
         (click)="setTheme(theme.name)"
      >
         <mat-radio-button
            [checked]="selectedTheme?.name === theme.name"
            [value]="theme.name"
            disableRipple
         ></mat-radio-button>
         <div class="theme-info">
            <span class="theme-title">
               {{ "USER_CONFIG_APP.THEME.LABEL" | translate }}
               <ng-container [ngSwitch]="theme.name">
                  <span *ngSwitchCase="'system'">
                     {{ "USER_CONFIG_APP.THEME.DEFAULT" | translate }}
                     <mat-icon inline>smartphone</mat-icon>
                  </span>
                  <span *ngSwitchCase="'light'">
                     {{ "USER_CONFIG_APP.THEME.LIGHT" | translate }}
                     <span class="emoji">🌞</span>
                  </span>
                  <span *ngSwitchCase="'dark'">
                     {{ "USER_CONFIG_APP.THEME.DARK" | translate }}
                     <span class="emoji">🌙</span>
                  </span>
               </ng-container>
            </span>
            <span class="theme-desc" *ngIf="theme.name === 'system'">
               {{ "USER_CONFIG_APP.THEME.SYSTEM_SETTINGS" | translate }}
            </span>
         </div>
      </div>
   </div>
</div>
