:host {
   .sr-only {
      position: absolute !important;
      width: 1px !important;
      height: 1px !important;
      padding: 0 !important;
      margin: -1px !important;
      overflow: hidden !important;
      clip: rect(0, 0, 0, 0) !important;
      white-space: nowrap !important;
      border: 0 !important;
   }

   .config-container {
      position: relative;
      width: 100%;
      min-height: 100vh;
      padding: var(--spacing-5);
      display: flex;
      flex-direction: column;
   }

   .back-btn {
      margin-bottom: var(--spacing-4);
      width: fit-content;

      mat-icon {
         width: 24px;
         height: 24px;
         font-size: 24px;
      }
   }

   #config-description {
      font-family: var(--body-font-family);
      font-size: var(--font-size-body-sm);
      margin-bottom: var(--spacing-4);
      opacity: 0.7;
   }

   .theme-list {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-2);
      width: 100%;
      max-width: 358px;
   }

   :host-context(.dark-theme) {
      .theme-option {
         background-color: var(--color-neutral-700);
      }
   }

   .theme-option {
      display: flex;
      align-items: center;
      border-radius: var(--border-radius-2);
      padding: var(--spacing-3);
      cursor: pointer;
      transition: all 0.2s ease;
      background-color: var(--color-neutral-background-1);

      mat-radio-button {
         ::ng-deep {
            .mdc-radio__outer-circle {
               border-color: var(--color-primary-800) !important;
            }

            .mdc-radio__inner-circle {
               border-color: var(--color-primary-800) !important;
               background-color: var(--color-primary-800) !important;
            }
         }
      }

      &:hover,
      &.selected {
         background-color: var(--color-primary-200);

         .theme-title {
            color: var(--color-neutral-content-1);
         }

         .theme-desc {
            color: var(--color-neutral-content-4);
            opacity: 0.7;
         }
      }

      .theme-info {
         margin-left: var(--spacing-2);
         flex: 1;
      }

      .theme-title {
         font-family: var(--body-font-family);
         font-weight: var(--font-weight-body);
         font-size: var(--font-size-body-md);
         display: flex;
         align-items: center;
         gap: var(--spacing-2);
      }

      .theme-desc {
         font-family: var(--body-font-family);
         font-weight: var(--font-weight-body);
         font-size: var(--font-size-body-sm);
         line-height: var(--line-height-body);
         letter-spacing: var(--letter-spacing-body);
         opacity: 0.7;
         margin-top: var(--spacing-1);
         width: 263px;
         height: 19px;
      }

      .emoji {
         font-size: var(--font-size-body-md);
      }
   }

   .mdc-radio__native-control {
      border-color: var(--color-orange-800);

      &:checked {
         background-color: var(--color-orange-800);
      }
   }
}
