@if (page()?.type == ComponentType.PAGE_RESOURCES) {
   <div class="resources-container flex flex-col">
      <div class="fixed bg-(image:--background-31) h-[110px] w-full z-100"></div>
      <img [src]="(page() | pageTranslation)?.image" alt="image" class="image-cover z-101"/>
      <app-button-back class="fixed top-(--spacing-3) pl-(--spacing-5) z-102"></app-button-back>
      @if ((page() | pageTranslation)?.firstTitle) {
         <h3 class="problems-title" [innerHTML]="(page() | pageTranslation)?.firstTitle! | translate | safeHtml"></h3>
      }
      <div class="problems-items-container flex flex-col">
         @for (child of sortedChildren; track $index) {
            @switch (child.type) {
               @case (ComponentType.CARD_3) {
                  <a [routerLink]="child.nextId ? `/problems/${child.nextId}` : null">
                     <app-card-3 [data]="child"></app-card-3>
                  </a>
               }
               @case (ComponentType.CARD_4) {
                  <a [routerLink]="child.nextId ? `/problems/${child.nextId}` : null">
                     <app-card-4 [data]="child"></app-card-4>
                  </a>
               }
               @case (ComponentType.CARD_5) {
                  <a [routerLink]="child.nextId ? `/problems/${child.nextId}` : null">
                     <app-card-5 [data]="child"></app-card-5>
                  </a>
               }
               @case (ComponentType.CARD_6) {
                  <a [routerLink]="child.nextId ? `/problems/${child.nextId}` : null">
                     <app-card-6 [data]="child"></app-card-6>
                  </a>
               }
               @case (ComponentType.CARD_14) {
                  <a [routerLink]="child.nextId ? `/problems/${child.nextId}` : null">
                     <app-card-14 [data]="child"></app-card-14>
                  </a>
               }
               @case (ComponentType.DIVIDER) {
                  <app-divider />
               }
            }
         }
      </div>
   </div>
}
