<div class="reported-violent-content-container">
   <div class="header flex flex-col relative">
      <app-button-back class="fixed top-[16px] z-2"></app-button-back>
      <div class="flex justify-end">
         <img src="assets/images/warning-picto.png" alt="image" class="!w-[87px] !h-[75px] object-contain" />
      </div>
      <div class="details flex flex-col">
         <h3>{{ "PROBLEMS.DELETE_CONTENT.RESULTS.VIOLENT_CONTENT.TITLE" | translate }}</h3>
         <p>{{ "PROBLEMS.DELETE_CONTENT.RESULTS.VIOLENT_CONTENT.DESCRIPTION" | translate }}</p>
      </div>
   </div>
   <div class="content flex flex-col gap-(--spacing-4)">
      <app-card-4 [data]="card_4"></app-card-4>
      <app-divider></app-divider>
      <app-card-5 [data]="card_5_1"></app-card-5>
      <app-card-5 [data]="card_5_2"></app-card-5>
   </div>
   <div class="controls fixed max-w-(--max-width-viewport) bottom-0 w-full flex">
      <app-button [label]="(reported ? 'PROBLEMS.DELETE_CONTENT.RESULTS.VIOLENT_CONTENT.BUTTON.REPORTED' : 'PROBLEMS.DELETE_CONTENT.RESULTS.VIOLENT_CONTENT.BUTTON.UNREPORTED') | translate" variant="primary"
         [iconAfterLabel]="{ name: 'arrow24x24-icon' }" class="w-full"
         (click)="utilsService.goTo(reported ? '/delete-content/reported-content' : '/delete-content/unreported-content')"></app-button>
   </div>
</div>
