.reported-violent-content-container {
   background: var(--background-6);
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   padding-bottom: 120px;
   gap: var(--spacing-5);

   .header {
      background: linear-gradient(180deg, #0D81AD 0%, rgba(237, 252, 254, 0) 100%);
      gap: 24px;
      padding: var(--spacing-3) var(--spacing-5) 0 var(--spacing-5);

      .details {
         gap: var(--spacing-1);
      }
   }

   .content {
      padding: 0 var(--spacing-3);
   }

   .controls {
      padding: 50px var(--spacing-5);
      background: var(--background-19);
      gap: var(--spacing-3);
   }
}
