<div class="secure-myself-container">
   <h1 class="secure-myself-title" [innerHTML]="page()?.translations?.at(0)?.firstTitle | safeHtml"></h1>
   <div class="flex flex-col secure-myself-children">
      @for (child of sortedChildren; track $index) {
         @if (child.status === ComponentStatus.PUBLISHED) {
            @switch (child.type) {
               @case (ComponentType.CARD_7) {
                  <app-card-7 [data]="child"></app-card-7>
               }
               @case (ComponentType.DIVIDER) {
                  <app-divider></app-divider>
               }
            }
         }
      }
   </div>
</div>
