.secure-myself-container {
   padding-bottom: 166px;
}

.secure-myself-title {
   margin: var(--spacing-5);
   margin-top: var(--spacing-10);
}

.secure-myself-children {
   gap: 22px;
   padding-left: var(--spacing-5);
}
