<div class="config-container">
   <button mat-icon-button class="back-btn" routerLink="/home">
      <mat-icon>arrow_back</mat-icon>
   </button>
   <h2>Apparence</h2>
   <p>Choisis ton thème d'affichage préféré.</p>

   <div class="theme-list">
      <div
         *ngFor="let theme of themes"
         class="theme-option"
         [class.selected]="selectedTheme?.name === theme.name"
         (click)="setTheme(theme.name)"
      >
         <mat-radio-button
            [checked]="selectedTheme?.name === theme.name"
            [value]="theme.name"
            disableRipple
         ></mat-radio-button>
         <div class="theme-info">
            <span class="theme-title">
               Thème
               <ng-container [ngSwitch]="theme.name">
                  <span *ngSwitchCase="'system'"
                     >par défaut <mat-icon inline>smartphone</mat-icon></span
                  >
                  <span *ngSwitchCase="'light'"
                     >clair <span class="emoji">🌞</span></span
                  >
                  <span *ngSwitchCase="'dark'"
                     >sombre <span class="emoji">🌙</span></span
                  >
               </ng-container>
            </span>
            <span class="theme-desc" *ngIf="theme.name === 'system'">
               Utiliser le même réglage que le téléphone
            </span>
         </div>
      </div>
   </div>
</div>
