<div class="card-container">
   @if ((data() | pageTranslation)?.firstTitle || (data() | pageTranslation)?.secondTitle) {
      <div class="flex justify-between">
         @if((data() | pageTranslation)?.firstTitle) {
            <h5 class="card-title ckeditor-content" [innerHTML]="(data() | pageTranslation)?.firstTitle! | translate | safeHtml"></h5>
         }
         @if((data() | pageTranslation)?.secondTitle){
            <app-tag-unclickable [variant]="toVariant((data() | pageTranslation)?.secondTitle! | translate)" [label]="(data() | pageTranslation)?.description! | translate"></app-tag-unclickable>
         }
      </div>
   }
   @if (sortedChildren.length > 0) {
      @for (child of sortedChildren; track $index) {
         @switch (child.type) {
            @case (ComponentType.CARD_17) {
               <app-card-17 [data]="child" (click)="utilsService.goToWithState(child.nextId ? `/hacking/have-access/${child.nextId}/actions`
               : child.next ? `/hacking/have-access/${child.next.id}/actions`: null, {  page: child.next, index: $index })"></app-card-17>
            }
         }
      }
   }
</div>
