.template-main {
   gap: var(--spacing-3);

   ::ng-deep {
      ul {
         list-style: disc !important;
         margin-left: 2rem;
      }

      a {
         color: var(--color-8);
         text-decoration: underline;
      }
   }
}

.template-container {
   gap: var(--spacing-4);
   border-radius: var(--border-radius-3);
}

.template-content {
   background-color: var(--background-2);
   border-radius: var(--border-radius-3);
   padding: 30px 28px;
   gap: var(--spacing-5);
   font-size: var(--font-size-body-md);
   font-family: var(--body-font-family);
}
