.card-container {
   gap: var(--spacing-2);
}

.card-title {
   color: var(--color-8);
   padding-left: var(--spacing-3);
}

.card-body {
   position: relative;
}

.card-image {
   position: absolute;
   top: -40px;
   right: 20px;
   z-index: 0;
}

.card-description {
   position: relative;
   z-index: 1;
   background-color: var(--background-8);
   padding: var(--spacing-3);
   border-radius: var(--border-radius-3);
   border: 1px solid var(--color-primary-100);
   color: var(--color-11);
}
