<div class="flex flex-col card-container">
   @if ((data() | pageTranslation)?.firstTitle) {
      <h5 class="card-title" [innerHTML]="(data() | pageTranslation)?.firstTitle! | translate | safeHtml"></h5>
   }
   <div class="card-body">
      <img class="card-image" src="assets/images/switch-triste-light.svg" alt="switch-triste" />
      <span class="card-heart">💜</span>
      @if ((data() | pageTranslation)?.description) {
         <div class="card-description" [innerHTML]="(data() | pageTranslation)?.description! | translate | safeHtml"></div>
      }
   </div>
</div>
