.accessibility-container {
   background-color: var(--background-6);
   min-height: 100vh;
   padding-bottom: var(--spacing-5);

   .accessibility-title {
      padding: 0 var(--spacing-5) var(--spacing-5) var(--spacing-5);
   }

   .accessibility-description {
      padding: 0 var(--spacing-5) var(--spacing-5) var(--spacing-5);
   }

   .image-cover {
      height: 323px;
      object-fit: cover;
   }

   .accessibility-items-container {
      gap: var(--spacing-5);
      padding: 0 var(--spacing-3);
   }
}
