<a [href]="((data() | pageTranslation)?.description | stripHtml)" target="_blank">
   <div class="flex justify-between tile-main">
      <div class="flex flex-col justify-center tile-container">
         <div class="tile-title" [innerHTML]="(data() | pageTranslation)?.firstTitle | safeHtml"></div>
         <div class="flex items-center tile-body">
            <img [src]="(data() | pageTranslation)?.image || (data() | pageTranslation)?.staticImage" class="tile-image" />
            <div class="tile-link" [innerHTML]="(data() | pageTranslation)?.description | safeHtml"></div>
         </div>
      </div>
      <div class="flex items-center">
         <mat-icon [svgIcon]="isDarkMode() ? 'icon-external-link-dark' : 'icon-external-link-clear'"></mat-icon>
      </div>
   </div>
</a>
