.tile-main {
   background-color: var(--background-2);
   border-radius: var(--border-radius-3);
   padding: var(--spacing-3);
}

.tile-container {
   overflow: auto;
   gap: 6px;
}

.tile-title, .tile-title p {
   font-weight: var(--font-weight-title);
   text-overflow: ellipsis;
   overflow: hidden;
   width: 90%;
   white-space: nowrap;
}

.tile-link {
   font-size: var(--font-size-body-sm);
   color: var(--color-5);
   text-overflow: ellipsis;
   overflow: hidden;
   width: 90%;
   white-space: nowrap;
   text-decoration: underline;
}

.tile-image {
   margin-right: 6px;
   width: 18px;
   height: 18px;
   object-fit: contain;
}
