.home-cards-container {
   display: flex;
   flex-direction: column;
   gap: calc(0.5rem + 0.5vw);
   width: 100%;
}

.home-cards__main-title {
   line-height: var(--line-height-h5);
   color: var(--color-1);
   align-self: flex-start;
   margin-top: var(--spacing-2);
   font-size: var(--font-size-h5);
}

/* Style spécifique pour le titre des problèmes */
.home-cards-problems-container .home-cards__main-title {
   color: var(--color-15);
}

.home-cards__section-title {
   line-height: var(--line-height-h5);
   color: var(--color-15);
   margin: 0;
   padding: 0;
   align-self: flex-start;
   margin-top: calc(1rem + 0.5vw);
   margin-bottom: calc(0.5rem + 0.2vw);
   font-size: var(--font-size-h5);
}

//  Carte mot de passe (tools-item)

.tools-item {
   padding: calc(18px + 0.5vw) calc(4px + 0.2vw);
   border: calc(4px + 0.1vw) solid var(--background-4);
   border-radius: var(--border-radius-4);
   box-shadow: var(--shadow-1);
   position: relative;
   cursor: pointer;
}

.tools-item-bg {
   position: absolute;
   inset: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: 0;
   pointer-events: none;
   border-radius: var(--border-radius-4);
}

.tools-item > *:not(.tools-item-bg) {
   position: relative;
   z-index: 1;
}

.tools-item-body {
   display: flex;
   align-items: center;
   gap: calc(0.5rem + 0.3vw);
}

.tools-item-img {
   min-width: calc(80px + 4vw);
   max-width: calc(80px + 4vw);
   height: calc(65px + 3vw);
   object-fit: contain;
}

.tools-item-text {
   display: flex;
   flex-direction: column;
   gap: calc(0.2rem + 0.1vw);
}

.social-card-title {
   color: var(--color-neutral-light-background-1);
   font-size: var(--font-size-h6);
   font-weight: 600;
   margin: 0;
}

.social-card-description {
   color: var(--color-neutral-light-background-3);
   font-size: var(--font-size-body-sm);
   margin: 0;
}

.tools-item::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #10052e66;
   opacity: 0;
   transition: opacity 0.2s ease;
   pointer-events: none;
   z-index: 1;
   border-radius: var(--border-radius-4);
}

.tools-item:active::after {
   opacity: 1;
}

/* =====================
   Carte anonymisation
   ===================== */
.home-card-anonym {
   padding: calc(18px + 0.5vw) calc(4px + 0.2vw);
   background-size: cover;
   border: calc(4px + 0.1vw) solid var(--background-4);
   border-radius: var(--border-radius-4);
   box-shadow: var(--shadow-1);
   position: relative;
   display: flex;
   align-items: center;
   cursor: pointer;
   width: calc(100% - 32px);
   max-width: calc(350px + 15vw);
   transition: transform 0.2s ease-in-out;
}

.home-card-anonym:hover {
   transform: translateY(-2px);
}

.home-card-anonym:focus {
   outline: 2px solid var(--color-primary-500);
   outline-offset: 2px;
}

#blur-image-tool {
   background-image: url("../../../../assets/images/bg-blur-img.png");
   width: calc(170px + 8vw);
   height: calc(140px + 6vw);
}

.home-card-anonym > *:not(.home-card-anonym-bg) {
   z-index: 1;
}

.home-card-anonym__content {
   position: relative;
   width: calc(170px + 8vw);
   height: calc(140px + 6vw);
   display: flex;
   flex-direction: column;
}

.home-card-anonym__image-container {
   position: absolute;
   top: 4px;
   right: 2px;
   width: calc(60px + 2vw);
   height: calc(60px + 2vw);
   display: flex;
   align-items: center;
   justify-content: center;
}

.home-card-anonym__image {
   width: calc(60px + 2vw);
   height: calc(65px + 2vw);
   opacity: 1;
   object-fit: contain;
}

.home-card-anonym__text-content {
   position: absolute;
   bottom: calc(0.5rem + 0.3vw);
   left: calc(0.5rem + 0.3vw);
   display: flex;
   flex-direction: column;
   gap: calc(0.2rem + 0.1vw);
}

.home-card-anonym__arrow {
   position: absolute;
   bottom: 50px;
   right: 10px;
   width: 24px;
   height: 24px;
   opacity: 1;
   transform: rotate(-0deg);
   color: white;
   font-size: 16px;
   font-weight: bold;
}

/* =====================
   Cartes de problèmes et harcèlement
   ===================== */
.home-cards-problems-container {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.problems-cards-row {
   display: flex;
   flex-direction: row;
   gap: calc(10px + 0.5vw);
   width: 100%;
}

.home-card-problem,
.home-card-harassment {
   padding: 6px;
   background-color: var(--background-13);

   border-radius: var(--border-radius-2);
   box-shadow: var(--shadow-1);
   position: relative;
   display: flex;
   flex-direction: column;
   cursor: pointer;
   transition: transform 0.2s ease-in-out;
}

.home-card-problem:hover,
.home-card-harassment:hover {
   transform: translateY(-2px);
}

.home-card-problem:focus,
.home-card-harassment:focus {
   outline: 2px solid var(--color-primary-500);
   outline-offset: 2px;
}

.problem-bg-container {
   height: 67%;
}

.img-bg {
   width: 100%;
   height: 100%;
   border-radius: var(--border-radius-2);
   object-fit: fill;
}

.problem-text-content {
   height: 33%;
   justify-content: space-between;
   align-items: center;
   display: flex;
   margin-top: 6px;
   margin-bottom: 10px;
}

.home-card-subtitle {
   font-weight: 500;
   font-size: var(--font-size-h6);
   margin: 0;
   padding: 0;
   line-height: var(--line-height-h6);
   justify-content: space-between;
   align-items: center;
   overflow-wrap: break-word;
   word-break: break-word;
   bottom: 10px;
}
.home-card-delete-content__subtitle {
   color: var(--color-21);
}

.home-card-harassment__subtitle {
   color: var(--color-20);
}

/* Animation du fantôme */
.ghost-animation-container {
   position: absolute;
   top: 60%;
   right: calc(-80px - 4vw);
   transform: translateY(-50%);
   width: calc(70px + 3vw);
   height: calc(100px + 4vw);
   z-index: 1000;
   pointer-events: none;
   -webkit-user-select: none;
   user-select: none;
}

.home-card-anonym__wrapper {
   position: relative;
}

.ghost-image {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   left: 28px;
   right: 36px;
}

/* Animation CSS pour le fantôme */

/* Animation d'entrée : apparition depuis la droite avec rotation */
@keyframes ghost-entrance {
   0% {
      transform: translateX(217px) translateY(-30px) rotate(30deg);
      opacity: 0;
   }
   100% {
      transform: translateX(0px) translateY(0px) rotate(0deg);
      opacity: 1;
   }
}

@keyframes ghost-visible {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
@keyframes ghost-invisible {
   0% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}

.ghost-normal {
   opacity: 0;
   /* Animation d'entrée puis animation de clignotement */
   animation: ghost-entrance 0.2s ease-out forwards 0.8s,
      ghost-invisible 0ms ease-out forwards 1.6s,
      ghost-visible 0ms ease-out forwards 1.8s;
}

.ghost-wink-image {
   opacity: 0;
   /* animation de clignotement */
   animation: ghost-visible 0ms ease-out forwards 1.6s,
      ghost-invisible 0ms ease-out forwards 1.8s;
}

// Styles pour les flèches des cartes problème et harcèlement
.home-card-problem__arrow,
.home-card-harassment__arrow {
   display: flex;
   width: 20px !important;
   height: 18px !important;
   align-items: center;
   justify-content: center;
   transform: translateY(-50%);
   pointer-events: none;

   mat-icon {
      width: 24px !important;
      height: 24px !important;
      font-size: 24px !important;
      transition: transform 0.2s ease;
   }
}

// Couleurs par défaut (mode light)
.home-card-problem__arrow mat-icon {
   color: var(--color-27);
}

.home-card-harassment__arrow mat-icon {
   color: var(--color-28);
}
