.home-cards-container {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-3);
   width: 100%;
}

.home-cards__main-title {
   margin: 0;
}

.view-all-link {
   gap: var(--spacing-1);
   color: var(--color-8);
   font-size: var(--font-size-body-sm);
   font-weight: var(--font-weight-heading);
   padding: 10px 16px;
   text-decoration: underline;
}

.home-cards__view-all {
   color: var(--color-8);
   font-size: var(--font-size-body-sm);
   font-weight: var(--font-weight-heading);
   padding: 10px 16px;
   cursor: pointer;
   text-decoration: underline;
}

.home-cards-problems-container .home-cards__main-title {
   color: var(--color-15);
}

.network-protection-section {
   grid-template-columns: 1fr auto;
   gap: var(--spacing-3);
   position: relative;
}

.network-protection-section > #password-check-tool {
   width: 100%;
   margin-bottom: var(--spacing-3);
}

.network-protection-section > #blur-image-tool {
   width: 50%;
}

.tools-item {
   padding: 28px 6px;
   border: calc(4px + 0.1vw) solid var(--background-4);
   border-radius: var(--border-radius-4);
   box-shadow: var(--shadow-1);
   position: relative;
   cursor: pointer;
}

.tools-item-bg {
   position: absolute;
   inset: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: var(--border-radius-4);
   pointer-events: none;
   transition: opacity 0.2s;
   z-index: 0;
}

.tools-item::before {
   content: "";
   position: absolute;
   inset: 0;
   background: url("../../../../assets/images/Property-hover.png") center/cover;
   border-radius: var(--border-radius-3);
   opacity: 0;
   transition: opacity 0.2s;
   pointer-events: none;
   z-index: 0;
}

.tools-item:hover::before,
.tools-item:active::before {
   opacity: 1;
}

.tools-item:hover::after,
.tools-item:active::after {
   opacity: 1;
}

.tools-item:hover .tools-item-bg,
.tools-item:active .tools-item-bg {
   opacity: 0;
}

.tools-item > *:not(.tools-item-bg) {
   position: relative;
   z-index: 2;
}

.tools-item > div:last-child {
   position: relative;
   z-index: 2;
}

.tools-item-body {
   display: flex;
   align-items: center;
   gap: calc(0.5rem + 0.3vw);
   position: relative;
   z-index: 2;
}

.tools-item-img {
   min-width: calc(80px + 4vw);
   max-width: calc(80px + 4vw);
   height: calc(65px + 3vw);
   object-fit: contain;
   position: relative;
   z-index: 2;
}

.tools-item-text {
   display: flex;
   flex-direction: column;
   gap: calc(0.2rem + 0.1vw);
   position: relative;
   z-index: 2;
}

.social-card-title {
   color: var(--color-neutral-light-background-1);
}

.social-card-description {
   color: var(--color-neutral-light-background-3);
   font-size: var(--font-size-body-sm);
   margin: 0;
}

.tools-item::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #10052e66;
   opacity: 0;
   transition: opacity 0.2s ease;
   pointer-events: none;
   z-index: 1;
   border-radius: var(--border-radius-4);
}

.tools-item:active::after {
   opacity: 1;
}

.home-card-anonym {
   padding: var(--spacing-2) var(--spacing-3);
   border: calc(4px + 0.1vw) solid var(--background-4);
   border-radius: var(--border-radius-4);
   box-shadow: var(--shadow-1);
   position: relative;
   display: flex;
   align-items: center;
   cursor: pointer;
   width: calc(100% - 32px);
   max-width: calc(350px + 15vw);
   transition: transform 0.2s ease-in-out;
}

.home-card-anonym:hover {
   transform: translateY(-2px);
}

#blur-image-tool {
   width: calc(170px + 8vw);
}

.home-card-anonym-bg {
   position: absolute;
   inset: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: var(--border-radius-4);
   pointer-events: none;
   transition: opacity 0.2s;
   z-index: 0;
}

.home-card-anonym::before {
   content: "";
   position: absolute;
   inset: 0;
   background: url("../../../../assets/images/blur-hover.png") center/cover;
   border-radius: var(--border-radius-4);
   opacity: 0;
   transition: opacity 0.2s;
   pointer-events: none;
   z-index: 0;
}

.home-card-anonym:hover::before,
.home-card-anonym:active::before {
   opacity: 1;
}

.home-card-anonym:hover .home-card-anonym-bg,
.home-card-anonym:active .home-card-anonym-bg {
   opacity: 0;
}

.home-card-anonym > *:not(.home-card-anonym-bg) {
   position: relative;
   z-index: 1;
}

.home-card-anonym__content {
   position: relative;
   display: flex;
   flex-direction: column;
}

.home-card-anonym__image-container {
   display: flex;
   align-items: center;
   justify-content: end;
}

.home-card-anonym__image {
   width: calc(60px + 2vw);
   height: calc(65px + 2vw);
   opacity: 1;
   object-fit: contain;
}

.home-card-anonym__text-content {
   display: flex;
   flex-direction: column;
}

.home-card-anonym__arrow {
   width: 24px;
   height: 24px;
   opacity: 1;
   transform: rotate(-0deg);
   color: white;
   font-size: 16px;
   font-weight: bold;
}

.home-cards-problems-container {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.home-card-problem,
.home-card-harassment {
   padding: 6px;
   background-color: var(--background-13);
   border-radius: var(--border-radius-2);
   box-shadow: var(--shadow-1);
   position: relative;
   display: flex;
   flex-direction: column;
   cursor: pointer;
   transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.home-card-problem:hover,
.home-card-harassment:hover {
   transform: translateY(-2px);
   background-color: var(--background-38);
}

.problem-bg-container {
   height: 67%;
}

.img-bg {
   width: 100%;
   height: 100%;
   border-radius: var(--border-radius-2);
   object-fit: fill;
}

.problem-text-content {
   height: 33%;
   justify-content: space-between;
   align-items: center;
   display: flex;
   margin-top: 6px;
   margin-bottom: 10px;
}

.home-card-subtitle {
   font-weight: 500;
   font-size: var(--font-size-h6);
   margin: 0;
   padding: 0;
   line-height: var(--line-height-h6);
   justify-content: space-between;
   align-items: center;
   overflow-wrap: break-word;
   word-break: break-word;
   bottom: 10px;
}
.home-card-delete-content__subtitle {
   color: var(--color-21);
}

.home-card-harassment__subtitle {
   color: var(--color-34);
}

.ghost-animation-container {
   position: absolute;
   bottom: 0;
   left: 75%;
   transform: translate(-50%, 0);
   width: calc(100px + 5vw);
   height: calc(140px + 3vw);
   pointer-events: none;
   -webkit-user-select: none;
   user-select: none;
}

.home-card-anonym__wrapper {
   position: relative;
}

.ghost-image {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

// Animations pour le fantôme

@keyframes ghost-entrance {
   0% {
      transform: translateX(50px) translateY(-30px) rotate(30deg);
      opacity: 0;
   }
   100% {
      transform: translateX(0px) translateY(0px) rotate(0deg);
      opacity: 1;
   }
}

@keyframes ghost-visible {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
@keyframes ghost-invisible {
   0% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}

.ghost-normal {
   opacity: 0;
   /* Animation d'entrée puis animation de clignotement */

   animation: ghost-entrance 0.2s ease-out forwards 0.8s,
      ghost-invisible 0ms ease-out forwards 1.6s,
      ghost-visible 0ms ease-out forwards 1.8s;
}

.ghost-wink-image {
   opacity: 0;
   /* animation de clignotement */

   animation: ghost-visible 0ms ease-out forwards 1.6s,
      ghost-invisible 0ms ease-out forwards 1.8s;
}

// Styles pour les flèches des cartes problème et harcèlement

.home-card-problem__arrow,
.home-card-harassment__arrow {
   display: flex;
   width: 20px !important;
   height: 18px !important;
   align-items: center;
   justify-content: center;
   transform: translateY(-50%);
   pointer-events: none;
}

.home-card-problem__arrow mat-icon,
.home-card-harassment__arrow mat-icon {
   width: 24px !important;
   height: 24px !important;
   font-size: 24px !important;
   transition: transform 0.2s ease;
}
// Couleurs par défaut (mode light)

.home-card-problem__arrow mat-icon {
   color: var(--color-27);
}

.home-card-harassment__arrow mat-icon {
   color: var(--color-28);
}
