.tile-main {
   gap: var(--spacing-3);
}

.tile-container {
   background-color: var(--background-2);
   padding: 13px 18px;
   border-radius: var(--border-radius-3);
}

.tile-body {
   width: 100%;
   overflow: auto;
}

.tile-title {
   text-overflow: ellipsis;
   overflow: hidden;
   width: 100%;
   white-space: nowrap;
}

.tile-image {
   margin-right: var(--spacing-2);
   width: 38px;
   height: 38px;
   object-fit: contain;
}
